<!-- Profile-Artboard 14.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-aggregate" ng-hide="loadingData">
	<div class="aggregate-wrapper">
		<div class="container">
			<div class="row" infinite-scroll="loadMoreAggregateData()" infinite-scroll-distance="3">
				<div class="col-md-12" ng-repeat="data in aggregateOrders" ng-if="data.orderDetails && data.orderDetails.length > 0">
					<div class="card box-shadow text-color-2">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="img-wrapper">
									<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
								</div>
							</div>
							<div class="col-md-5 col-sm-5">
								<div class="info-wrapper">
									<h4 class="weight-bold">{{data.lotName}} : ({{data.orderDetails[0].baseProductName}})</h4>
									<p class="price">Per Unit Price: <b>Rs. {{data.orderDetails[0].perUnitPrice}}</b></p>
									<p>Quantity Desired: <b>{{data.orderDetails[0].quantity ? data.orderDetails[0].quantity : 0}}</b></p>
									<p>Deposit Fund: <b>Rs. {{(data.emd && data.orderDetails[0].quantity) ? (data.emd * data.orderDetails[0].quantity) : 0}}</b>
										<i class="fa fa-info-circle text-color-2 cursor-pointer" data-toggle="tooltip" data-placement="right" title="Total EMD amount freezed from wallet"></i>
									</p>
								</div>
								<div class="transaction-info">
									<p><b>Transaction Id: </b>#{{data.transactionId}}</p>
									<div class="row">
										<div class="col-md-6">
											<button ng-show="!data.buyingOrBackOutLoading && data.usersAllowedToBuy && !data.totalAmountPaid && !data.cancelBuyingOrder" class="btn btn-lg btn-block btn-color font2 weight-bold" ng-click="clickedOnBuy(data, $index)">Buy Now</button>
										</div>
										<div class="col-md-6">
											<button ng-show="!data.buyingOrBackOutLoading && !data.totalAmountPaid && !data.cancelBuyingOrder && !data.buyingOrderFulfilled" class="btn btn-lg btn-block btn-white font2 weight-bold" ng-click="backOutClicked(data, $index)">Back Out</button>
										</div>
										<pn-loading-spinner class="col-md-12" ng-show="data.buyingOrBackOutLoading"></pn-loading-spinner>
									</div>
									<p ng-show="data.totalAmountPaid && data.buyingOrderFulfilled" class="text-success"><b>Owned</b></p>
									<p ng-show="data.totalAmountPaid && !data.buyingOrderFulfilled" class="text-success"><b>Waiting for order fulfillment.</b></p>
									<p ng-show="data.cancelBuyingOrder" class="text-danger"><b>Cancelled</b></p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="quantity-wrapper">
									<div class="row">
										<div class="col-md-5">
											<h5>QUANTITY LEFT:</h5>
										</div>
										<div class="col-md-7">
											<p>{{data.orderDetails[0].quantityLeft ? data.orderDetails[0].quantityLeft : 0}} pieces</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<h5>QUANTITY SOLD:</h5>
										</div>
										<div class="col-md-7">
											<div class="progress-wrapper">
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{data.orderDetails[0].quantitySold ? data.orderDetails[0].quantitySold : 0}}" aria-valuemin="0" aria-valuemax="2500" style="width: {{((data.orderDetails[0].quantitySold ? data.orderDetails[0].quantitySold : 0)/getTotalQuantity(data))*100}}%;">
														{{data.orderDetails[0].quantitySold ? data.orderDetails[0].quantitySold : 0}}
													</div>
												</div>
												<div class="range-values">
													<span class="min pull-left">0</span>
													<span class="max pull-right">{{getTotalQuantity(data)}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row" ng-hide="data.cancelBuyingOrder || data.buyingOrderFulfilled" >
										<div class="col-md-5">
											<h5>TIME LEFT:</h5>
										</div>
										<div class="col-md-7" ng-show="!data.daysLeft">
											<div id="countdown-time-{{$index}}" class="countdown-timer"></div>	
										</div>
										<div class="col-md-7" ng-show="data.daysLeft">
											<h5>{{data.daysLeft}} Days</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- extend contract slidable hidden area -->
						<div class="row">
							<div class="col-md-9 col-md-offset-3">
								<div id="slide{{$index}}" class="extend-contract-wrapper slideable" duration=".4s">
									<hr class="custom">
									<h4 class="weight-bold text-color-2">NO. OF MONTHS</h4>

									<div class="row text-color-2">
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['3']" ng-click="changeExtendPeriod('3')">
												<p>3 Months</p>
												<hr>
												<p><b>Rs. 4000</b></p>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['6']" ng-click="changeExtendPeriod('6')">
												<p>6 Months</p>
												<hr>
												<p><b>Rs. 6500</b></p>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['9']" ng-click="changeExtendPeriod('9')">
												<p>9 Months</p>
												<hr>
												<p><b>Rs. 9000</b></p>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['custom']" ng-click="changeExtendPeriod('custom')">
												<p>CUSTOM</p>
												<hr>
												<select name="customExtendedValue" id="input" class="form-control">
													<option value="">Select</option>
													<option value="1">1 Months</option>
													<option value="2">2 Months</option>
													<option value="4">4 Months</option>
													<option value="5">5 Months</option>
													<option value="7">7 Months</option>
													<option value="8">8 Months</option>
													<option value="10">10 Months</option>
													<option value="11">11 Months</option>
													<option value="12">12 Months</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
											<button type="button" class="btn btn-block btn-lg btn-color font2" ng-click="extendContract()">EXTEND</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pn-loading-spinner padding-bottom="200px" ng-show="loadingMoreData"></pn-loading-spinner>
		</div>
	</div>
	<!-- Modal for schedule pickup -->
		<div class="schedule-pickup-modal modal fade">
			<div class="modal-dialog pn-modal bg-white">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
					<pn-loading-spinner ng-show="loadingAddress"></pn-loading-spinner>
						<div class="row" ng-hide="loadingAddress">
							<div class="col-md-12">
								<h3 class="text-color-2 no-margin-top">Schedule Pickup</h3>
							</div>
							<div class="col-md-12" ng-show="viewSavedAddresses">
								<div class="row">
									<div class="col-md-4" ng-repeat="address in userAddress">
										<div class="card-wrapper" ng-click="selectAddress(address._id)" ng-class="activeAddress[address._id]">
											<div class="address">
												<h5 class="weight-bold">{{user.name}}</h5>
												<p>{{address.line1}}<span ng-if="address.line2">, </span>{{address.line2}}<span ng-if="address.locality">, </span> {{address.locality}}, {{address.city}}, {{address.state}}, {{address.zipCode}}</p>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="add-new-address-btn">
									<button ng-click="addNewAddress()" class="btn btn-white btn-block font2 weight-bold">+ ADD NEW ADDRESS</button>
								</div> -->
								<div><br></div>
							</div>
							<div class="col-md-12 no-padding-grid" ng-hide="viewSavedAddresses">
								<div class="col-md-12">
									<input type="text" class="form-control" ng-model="address.line1" placeholder="Address Line 1">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.line2" placeholder="Address Line 2">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.locality" placeholder="Locality">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.city" placeholder="City">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.state" placeholder="State">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.country" placeholder="Country" value="India">
								</div>
								<div class="col-md-6 col-sm-6">
									<input type="text" class="form-control" ng-model="address.zipCode" placeholder="Zip Code">
								</div>
								<div class="col-md-12">
									<button ng-click="showSavedAddresses()" class="btn btn-white btn-block font2 weight-bold"> Select from saved addresses</button>
								</div>
								<div class="col-md-12"><br></div>
							</div>
							<div class="col-md-12">
								<button class="btn btn-confirm btn-lg btn-color font2 wight-bold" ng-click="confirmBuy()">CONFIRM</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>