<!-- Direct buy -->
<div id="direct-buy-page" class="page-wrapper">
	<div class="container">
		<div class="page-heading">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-9">
					<h3 class="font2 text-color-1 no-margin-top no-margin-bottom">{{pageHeading}}</h3>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-3">
					<div class="button-wrapper">
						<button ng-click="showUploadArea()" ng-hide="showUpload" type="button" class="btn btn-green"><i class="fa fa-upload"></i> <span class="hidden-xs">Upload Products</span></button>

						<button ng-click="showDirectBuy()" ng-show="showUpload" type="button" class="btn btn-green"><i class="fa fa-bars"></i> <span class="hidden-xs"> List Products</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<pn-loading-spinner ng-show="loadingLots"></pn-loading-spinner>
				<div class="content" ng-hide="showUpload || loadingLots">
					<div class="row">
						<div class="col-md-12">
							<div class="search-box form-inline" ng-hide="lots.length == 0">
								<input type="text" class="form-control" ng-model="searchLots">
								<button type="button" class="btn btn-green">Search</button>
							</div>
						</div>
					</div>
					<p ng-show="lots.length == 0" class="text-center">No lots available in this category. Please upload to start.</p>
					<table ng-hide="lots.length == 0" class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Lot Name</th>
								<th>Created At</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="lot in lots | filter:searchLots">
								<td>{{$index+1}}</td>
								<td>{{lot.lotDetails.lotName}}</td>
								<td>{{lot.lotDetails.createdAt | parseDate2}}</td>
								<td>{{lot.lotDetails.dateWindow.startDate | parseDate2}}</td>
								<td>{{lot.lotDetails.dateWindow.endDate | parseDate2}}</td>
								<td class="text-right">
									<button type="button" ng-click="clickedOnView(lot, $index)" class="btn btn-primary">View</button>
									<button type="button" ng-click="clickedOnEdit(lot, $index)" class="btn btn-primary">Edit</button>
									<button type="button" ng-click="clickedOnDelete(lot, $index)" class="btn btn-danger">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="content" ng-show="showUpload">
					<pn-loading-spinner ng-show="loadingProducts"></pn-loading-spinner>	
					<div class="categories-wrapper" ng-hide="categorySelected || loadingProducts">
						<div class="row">
							<div class="col-md-12 text-center">
								<h3 class="font2 text-color-1 weight-bold">WHAT DO YOU WANT TO UPLOAD</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('MOBILE')">
									<div class="icon mobile"></div>
									<p>MOBILE PHONES</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('DESKTOP')">
									<div class="icon desktop"></div>
									<p>DESKTOP</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('TV')">
									<div class="icon tv"></div>
									<p>TV</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('TABLET')">
									<div class="icon tablet"></div>
									<p>TABLET</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('I MAC')">
									<div class="icon i-mac"></div>
									<p>I MAC</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('LAPTOP')">
									<div class="icon laptop"></div>
									<p>LAPTOPS</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('GAMING CONSOLE')">
									<div class="icon gaming-console"></div>
									<p>GAMING CONSOLE</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('HOME APPLIANCE')">
									<div class="icon home-appliances"></div>
									<p>HOME APPLIANCES</p>
								</div>
							</div>
						</div>
					</div>
					<div class="base-products-list" ng-show="categorySelected">
						<div class="row">
							<div class="col-md-12">
								<div class="selected-category">
									<h3 class="font2 text-color-1 weight-bold inline-block va-middle no-margin-top no-margin-bottom">CATEGORY: {{selectedCategory}}</h3>
									<button ng-click="goToSelectCategory()" class="btn btn-green va-middle">Change</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-sm-12">
								<hr>
								<h4 class="font2 text-color-1 weight-bold">Select the product to upload</h4>
								<div class="search-device-wrapper">
									<div class="row no-margin-row">
										<div class="col-md-10 col-sm-10 no-padding-grid">
											<input type="text" placeholder="Select your product" ng-model="selectedProduct" uib-typeahead="product as product.productName for product in products | filter:$viewValue | limitTo:8" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="upload-file-area" ng-show="categorySelected">
						<div class="form-group">
							<label for="exampleInputFile">Choose Excel File</label>
							<input type="file" id="exampleInputFile" ng-upload-change="fileChanged($event)">
						</div>
					</div>
					<div class="upload-file-area" ng-show="categorySelected">
						<div class="upload-btn-area">
							<button type="button" ng-click="uploadFile()" class="btn btn-color">Upload File</button>
							<span> Or </span><a ng-click="downloadExcelForCategory()">Download Sample file</a>
						</div>
					</div>
					<div class="upload-lot-list" style="width: 100%;">
						 <div ui-grid="gridOptions" class="myGrid"></div>
					</div>
					<div class="upload-file-area" ng-show="categorySelected">
						<div class="upload-btn-area">
							<button type="button" ng-click="uploadData()" class="btn btn-color">Upload Data</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--View Dialog-->
<modal-dialog show='modalShown' width='80%' height='80%'>
  <div style="padding: 10px; width: calc(100% - 10px);">
  	    <h4>Lot Details</h4>
	    <div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Lot Id: <span style="font-weight: bolder;">{{currentlot.lotDetails.lotId}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>Lot Name: <span style="font-weight: bolder;">{{currentlot.lotDetails.lotName}}</span></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Lot Type: <span style="font-weight: bolder;">{{currentlot.lotDetails.lotType}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>No. Of Items: <span style="font-weight: bolder;">{{currentlot.lotDetails.numberOfItems}}</span></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Start Date: <span style="font-weight: bolder;">{{currentlot.lotDetails.dateWindow.startDate}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>End Date: <span style="font-weight: bolder;">{{currentlot.lotDetails.dateWindow.endDate}}</span></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Sold Out: <span style="font-weight: bolder;">{{currentlot.lotDetails.lotSoldOut}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>Product Tags: <span style="font-weight: bolder;">{{currentlot.lotDetails.tags && currentlot.lotDetails.tags.productCategoryTags ? currentlot.lotDetails.tags.productCategoryTags.join(',') : '' }}</span></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>No of Orders: <span style="font-weight: bolder;">{{currentlot.lotDetails.noOfOrders}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>Is Clearance Stock: <span style="font-weight: bolder;">{{currentlot.lotDetails.isClearanceStock}}</span></p>
			</div>
	 	</div>
	 	<div class="row">	
	 		<div class="col-md-12 col-sm-12">
	 			<h4>Lot Items Details</h4>
		 		<div class="row" style="margin-left: 10px;" ng-repeat="item in currentlot.lotItemDetails">
		 			<h4>Product {{$index + 1}}</h4>
		 			<div class="col-sm-12 col-md-6">
				  		<p>Product Id: <span style="font-weight: bolder;">{{item.productId}}</span></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Available No.: <span style="font-weight: bolder;">{{item.quantityAvailable}}</span></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Product Name: <span style="font-weight: bolder;">{{item.productName}}</span></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Price Per Item: <span style="font-weight: bolder;">{{item.perItemPrice}}</span></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Emd Per Item: <span style="font-weight: bolder;">{{item.perItemEmd}}</span></p>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="row" style="margin-left: 10px">
							<h4>Accessories</h4>
							<div ng-repeat="accessory in item.itemAccessories" class="col-sm-12 col-md-6">
						  		<p>{{accessory.accessoryname}}: <span style="font-weight: bolder;">{{accessory.isAccAvailable}}</span></p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="row" style="margin-left: 10px">
							<h4>Sepcifications</h4>
							<div ng-repeat="spec in item.specifications" class="col-sm-12 col-md-6">
						  		<p>{{spec.displayName}}: <span style="font-weight: bolder;">{{spec.specificationValue}} {{spec.specificationDescription}}</span></p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="row" style="margin-left: 10px">
							<h4>Condition</h4>
							<div class="col-sm-12 col-md-6">
						  		<p>Working Condition: <span style="font-weight: bolder;">{{item.itemCondition.workingcondition}}</span></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Original Box: <span style="font-weight: bolder;">{{item.itemCondition.originalbox}}</span></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Valid Bill: <span style="font-weight: bolder;">{{item.itemCondition.validbill}}</span></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Condition: <span style="font-weight: bolder;">{{item.itemCondition.condition}}</span></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Age (in Mnths): <span style="font-weight: bolder;">{{item.itemCondition.ageinmonths}}</span></p>
							</div>
							<div class="col-sm-12 col-md-12">
								<div class="row" style="margin-left: 10px">
									<h4>Problems</h4>
									<div ng-repeat="problem in item.itemCondition.itemProblems" class="col-sm-12 col-md-12">
								  		<p>{{problem.problemname}}: <span style="font-weight: bolder;">{{problem.isProblemBeingFaced}} {{problem.remarks}}</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
		 		</div>
	 		</div>
	 	</div>
  </div>
</modal-dialog>






<!--Edit Dialog-->
<modal-dialog show='modalShownEdit' width='80%' height='80%'>
  <div style="padding: 10px; width: calc(100% - 10px);">
  	    <h4>Lot Details</h4>
	    <div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Lot Id: <span style="font-weight: bolder;">{{currentlot.lotDetails.lotId}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>Lot Name: <input type="text" ng-model="currentlot.lotDetails.lotName"></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Lot Type: <span style="font-weight: bolder;">{{currentlot.lotDetails.lotType}}</span></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>No. Of Items: <input type="number" ng-model="currentlot.lotDetails.numberOfItems"></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Start Date: <input type="text" ng-model="currentlot.lotDetails.dateWindow.startDate"></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>End Date: <input type="text" ng-model="currentlot.lotDetails.dateWindow.endDate"></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>Sold Out: <input type="checkbox" ng-model="currentlot.lotDetails.lotSoldOut"></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>Product Tags: <span style="font-weight: bolder;">{{currentlot.lotDetails.tags && currentlot.lotDetails.tags.productCategoryTags ? currentlot.lotDetails.tags.productCategoryTags.join(',') : '' }}</span></p>
			</div>
	 	</div>
	 	<div class="row">
			<div class="col-sm-12 col-md-6">
		  		<p>No of Orders: <input type="number" ng-model="currentlot.lotDetails.noOfOrders"></p>
			</div>
			<div class="col-sm-12 col-md-6">
		  		<p>Is Clearance Stock: <input type="checkbox" ng-model="currentlot.lotDetails.isClearanceStock"></p>
			</div>
	 	</div>
	 	<div class="row">	
	 		<div class="col-md-12 col-sm-12">
	 			<h4>Lot Items Details</h4>
		 		<div class="row" style="margin-left: 10px;" ng-repeat="item in currentlot.lotItemDetails">
		 			<h4>Product {{$index + 1}}</h4>
		 			<div class="col-sm-12 col-md-6">
				  		<p>Product Id: <span style="font-weight: bolder;">{{item.productId}}</span></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Available No.: <input type="number" ng-model="item.quantityAvailable"></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Product Name: <input type="text" ng-model="item.productName"></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Price Per Item: <input type="number" ng-model="item.perItemPrice"></p>
					</div>
					<div class="col-sm-12 col-md-6">
				  		<p>Emd Per Item: <input type="number" ng-model="item.perItemEmd"></p>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="row" style="margin-left: 10px">
							<h4>Accessories</h4>
							<div ng-repeat="accessory in item.itemAccessories" class="col-sm-12 col-md-6">
						  		<p>{{accessory.accessoryname}}: <input type="checkbox" ng-model="accessory.isAccAvailable"></p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="row" style="margin-left: 10px">
							<h4>Sepcifications</h4>
							<div ng-repeat="spec in item.specifications" class="col-sm-12 col-md-6">
						  		<p>{{spec.displayName}}: <span style="font-weight: bolder;"><input type="text" ng-model="spec.specificationValue"></span></p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="row" style="margin-left: 10px">
							<h4>Condition</h4>
							<div class="col-sm-12 col-md-6">
						  		<p>Working Condition: <input type="checkbox" ng-model="item.itemCondition.workingcondition"></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Original Box: <input type="checkbox" ng-model="item.itemCondition.originalbox"></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Valid Bill: <input type="checkbox" ng-model="item.itemCondition.validbill"></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Condition: <input type="checkbox" ng-model="item.itemCondition.condition"></p>
							</div>
							<div class="col-sm-12 col-md-6">
						  		<p>Age (in Mnths): <input type="number" ng-model="item.itemCondition.ageinmonths"></p>
							</div>
							<div class="col-sm-12 col-md-12">
								<div class="row" style="margin-left: 10px">
									<h4>Problems</h4>
									<div ng-repeat="problem in item.itemCondition.itemProblems" class="col-sm-12 col-md-12">
								  		<p>{{problem.problemname}}: <input type="checkbox" ng-model="problem.isProblemBeingFaced"> <input type="text" ng-model="problem.remarks"></span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
		 		</div>
	 		</div>
	 	</div>
	 	<button type="button" ng-click="saveDetailsEdited()" class="btn btn-color">Save</button>
  </div>
</modal-dialog>