<!-- manage -->
<div id="manage-page" class="page-wrapper">
	<div class="container">
		<div class="page-heading">
			<div class="row">
				<div class="col-md-12">
					<h3 class="font2 text-color-1 no-margin-top no-margin-bottom">MANAGE</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<div class="row no-margin-row">
						<div class="col-md-2 col-sm-3 no-padding-grid">
							<button class="btn btn-block btn-lg tab-btn" ng-class="selectedScreen['users']" ng-click="goTo('users')">Users</button>
						</div>
						<div class="col-md-2 col-sm-3 no-padding-grid">
							<button class="btn fix-border btn-block btn-lg tab-btn"  ng-class="selectedScreen['products']" ng-click="goTo('products')">Products</button>
						</div>
						<div class="col-md-2 col-sm-3 no-padding-grid tab-btn">
							<button class="btn fix-border btn-block btn-lg"  ng-class="selectedScreen['sellRequests']" ng-click="goTo('sellRequests')">Sell Requests</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="tabs-area-wrapper box-shadow">
								<div class="users-wrapper" ng-show="activeScreen == 'users'">
									<div class="row">
										<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
											<div class="add-user form-card box-shadow" ng-show="showAddUserForm">
												<div class="top-bar pn-gradient">
													<h4 class="text-color-white font-2 weight-bold">Add New Business User</h4>
												</div>
												<div class="form-wrapper">
													<form>
														<input type="text" class="form-control" placeholder="User Name" ng-model="newUser.name">
														<input type="text" class="form-control" placeholder="Email" ng-model="newUser.email">
														<input type="password" class="form-control" placeholder="Password" ng-model="newUser.password">
														<div class="buttons">
															<button type="button" class="btn btn-color btn-save" ng-click="createUser()">Add</button>
															<button type="button" class="btn btn-white fix-border" ng-click="clearUserForm()">Cancel</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>

									<div class="list-of-users list-wrapper">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<div class="add-btn" ng-click="showAddUserForm = !showAddUserForm">
													<button type="button" class="btn btn-color	">Add New User</button>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="search-box form-inline">
													<input type="text" class="form-control" ng-model="searchUsers">
													<button type="button" class="btn btn-green">Search</button>
												</div>
											</div>
										</div>
										<pn-loading-spinner ng-show="loadingUsers"></pn-loading-spinner>
										<table ng-hide="loadingUsers" class="table table-hover">
											<thead>
												<tr>
													<th>#</th>
													<th>Name</th>
													<th>Email</th>
													<th>Type</th>
													<th class="text-right">Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="user in users | filter:searchUsers">
													<td>{{$index+1}}</td>
													<td>{{user.name}}</td>
													<td>{{user.email}}</td>
													<td>{{userType[user.accountType]}}</td>
													<td class="text-right">
														<button type="button" ng-click="viewUserInfo(user)" class="btn btn-primary">View</button>
														<button type="button" ng-click="editUser(user)" class="btn btn-primary">Edit</button>
														<button type="button" ng-click="deleteUser(user)" class="btn btn-danger">Delete</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="products-wrapper" ng-show="activeScreen == 'products'">
									<div class="row">
										<div class="col-md-12">
											<pn-loading-spinner ng-show="loadingOnCategoryId"></pn-loading-spinner>
											<div class="categories-wrapper" ng-show="showAddCategoryForm && !loadingOnCategoryId">
												<div class="row">
													<div class="col-md-12 text-center">
														<h3 class="font2 text-color-1 weight-bold">WHAT DO YOU WANT TO ADD</h3>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('MOBILE')">
															<div class="icon mobile"></div>
															<p>MOBILE PHONES</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('DESKTOP')">
															<div class="icon desktop"></div>
															<p>DESKTOP</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('TV')">
															<div class="icon tv"></div>
															<p>TV</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('TABLET')">
															<div class="icon tablet"></div>
															<p>TABLET</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('I MAC')">
															<div class="icon i-mac"></div>
															<p>I MAC</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('LAPTOP')">
															<div class="icon laptop"></div>
															<p>LAPTOPS</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('GAMING CONSOLE')">
															<div class="icon gaming-console"></div>
															<p>GAMING CONSOLE</p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6">
														<div class="category-card" ng-click="selectCategory('HOME APPLIANCE')">
															<div class="icon home-appliances"></div>
															<p>HOME APPLIANCES</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
											<div class="selected-category" ng-show="showAddProductForm">
												<h3 class="font2 text-color-1 weight-bold inline-block va-middle no-margin-top no-margin-bottom">CATEGORY: {{selectedCategory}}</h3>
												<button ng-click="goToSelectCategory()" class="btn btn-green va-middle">Change</button>
											</div>
											<div class="add-product form-card box-shadow" ng-show="showAddProductForm">
												<div class="top-bar pn-gradient">
													<h4 class="text-color-white font-2 weight-bold">Add New Product</h4>
												</div>
												<div class="form-wrapper">
													<form>
														<label for="">Product Name</label>
														<input type="text" class="form-control" placeholder="Product Name" ng-model="newBaseProduct.productName">
														<label for="">Brand Name</label>
														<input type="text" class="form-control" placeholder="Brand Name" ng-model="newBaseProduct.brand_name">
														<label for="">Model Number</label>
														<input type="text" class="form-control" placeholder="Model Number" ng-model="newBaseProduct.model_number">
														<!-- <label for="">Market Cost (in Rupees)</label>
														<input type="text" class="form-control" placeholder="Market Cost" ng-model="newBaseProduct.marketCost">
														<label for="">Release Date</label>
														<p class="input-group class-datepicker">
															<input type="text" class="form-control" readonly="readonly" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-click="open1()"/>
															<span class="input-group-btn" style="vertical-align:top">
																<button type="button" style="border: 1px solid #bbb !important;" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
															</span>
														</p> -->
														<label for="">Warranty and Support</label>
														<input type="text" class="form-control" placeholder="Warranty and Support" ng-model="newBaseProduct.warranty_n_support">
														<hr>
														<h3 class="no-margin-top">Specifications</h3>
														<p ng-repeat="spec in newBaseProduct.specifications track by $index"><strong>{{spec.displayName}}: </strong> {{spec.specificationValue}} &nbsp; <a ng-click="removeSpecNew($index)" class="cursor-pointer"><i class="fa fa-times-circle"></i> Remove</a></p>
														<input type="text" class="form-control" placeholder="Specification Name" ng-model="newSpecificationNew.displayName">
														<input type="text" class="form-control" placeholder="Specification Value" ng-model="newSpecificationNew.specificationValue">
														<div class="text-center block">
															<button class="btn btn-color" ng-click="addNewSpecificationNew()">Add Specification</button>
														</div>
														<hr>
														<h3 class="no-margin-top">Accessories Available</h3>
														<p ng-repeat="accessory in newBaseProduct.accessoriesList track by $index">{{accessory.accessoryname}} : </strong> {{accessory.score}} <a ng-click="removeAccessoryNew($index)" class="cursor-pointer"><i class="fa fa-times-circle"></i> Remove</a></p>
														<input type="text" class="form-control" placeholder="Accessory Name" ng-model="newAccessoryNew.accessoryname">
														<input type="number" class="form-control" placeholder="Score" ng-model="newAccessoryNew.score">
														<div class="text-center block">
															<button class="btn btn-color" ng-click="addNewAccessoryNew()">Add Accessory</button>
														</div>
														<hr>
														<h3 class="no-margin-top">Problems List</h3>
														<p ng-repeat="problem in newBaseProduct.problemsList track by $index"><strong>{{problem.problemname}}: </strong> {{problem.score}} &nbsp; <a ng-click="removeProblemNew($index)" class="cursor-pointer"><i class="fa fa-times-circle"></i> Remove</a></p>
														<input type="text" class="form-control" placeholder="Problem Name" ng-model="newProblemNew.problemname">
														<input type="number" class="form-control" placeholder="Score" ng-model="newProblemNew.score">
														<div class="text-center block">
															<button class="btn btn-color" ng-click="addNewProblemNew()">Add Problem</button>
														</div>
														<!-- <hr>
														<h3 class="no-margin-top">Condition Remarks</h3>
														<label for="">Good Condition Remark</label>
														<input type="text" class="form-control" placeholder="" ng-model="newBaseProduct.goodRemark">
														<label for="">Average Condition Remark</label>
														<input type="text" class="form-control" placeholder="" ng-model="newBaseProduct.averageRemark">
														<label for="">Below Average Condition Remark</label>
														<input type="text" class="form-control" placeholder="" ng-model="newBaseProduct.belowAverageRemark"> -->
														<hr>
														<div class="buttons">
															<button type="button" class="btn btn-color btn-save" ng-click="addProduct()">Add</button>
															<button type="button" class="btn btn-white fix-border" ng-click="showAddNewProduct()">Cancel</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="list-of-products list-wrapper">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<div class="add-btn" >
													<button type="button" class="btn btn-color" ng-click="showAddNewProduct()">Add New Product</button>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="search-box form-inline">
													<input type="text" class="form-control" ng-model="searchProducts">
													<button type="button" class="btn btn-green">Search</button>
												</div>
											</div>
										</div>
										<pn-loading-spinner ng-show="loadingBaseProducts"></pn-loading-spinner>
										<table ng-hide="loadingBaseProducts" class="table table-hover">
											<thead>
												<tr>
													<th>#</th>
													<th>Product Name</th>
													<th class="text-right">Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="product in baseProducts | filter:searchProducts">
													<td>{{$index+1}}</td>
													<td>{{product.productName}}</td>
													<td class="text-right">
														<button type="button" ng-click="viewProductInfo(product)" class="btn btn-primary">View</button>
														<button type="button" ng-click="editProduct(product)" class="btn btn-primary">Edit</button>
														<button type="button" ng-click="deleteBaseProduct(product)" class="btn btn-danger">Delete</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="sell-requests-wrapper" ng-show="activeScreen == 'sellRequests'">
									<div class="list-of-requests list-wrapper">
										<div class="row">
											<div class="col-md-12">
												<div class="search-box form-inline text-right">
													<input type="text" class="form-control" ng-model="searchSellRequests">
													<button type="button" class="btn btn-green">Search</button>
												</div>
											</div>
										</div>
										<pn-loading-spinner ng-show="loadingSellRequests"></pn-loading-spinner>
										<table ng-hide="loadingSellRequests" class="table table-hover">
											<thead>
												<tr>
													<th>#</th>
													<th>Product Name</th>
													<th>Brand</th>
													<th>Model</th>
													<th class="text-right">Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="order in userSellingOrders | filter:searchSellRequests">
													<td>{{$index}}</td>
													<td>{{order.productInfo.productName}}</td>
													<td>Random</td>
													<td>Stuff</td>
													<td class="text-right">
														<button type="button" class="btn btn-primary">Edit</button>
														<button type="button" class="btn btn-success">Put Live</button>
														<button type="button" class="btn btn-danger">Delete</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals for multiple operations -->
<!-- view user info modal -->
<div class="modal fade" id="viewUserInfoModal" tabindex="-1" role="dialog" aria-labelledby="viewUserInfoModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">View User: {{viewUserData.name}}</h4>
			</div>
			<div class="modal-body">
				<pn-loading-spinner ng-show="loadingOnViewUser"></pn-loading-spinner>
				<div class="content info-style-1">
					<h5>User Id:</h5>
					<p>{{viewUserData._id}}</p>
					<h5>Name:</h5>
					<p>{{viewUserData.name}}</p>
					<h5>Email:</h5>
					<p>{{viewUserData.email}}</p>
					<h5>Account Type:</h5>
					<p>{{userType[viewUserData.accountType]}}</p>
					<h5>Mobile Number:</h5>
					<p>{{viewUserData.mobileNumber || "N/A"}}</p>
					<h5>Address:</h5>
					<p ng-show="viewUserData.address.length == 0">N/A</p>
					<p>{{viewUserData.address[0].line1}}</p>
					<p ng-show="viewUserData.address[0].line2">{{viewUserData.address[0].line2}}</p>
					<p ng-show="viewUserData.address[0].locality">{{viewUserData.address[0].locality}}</p>
					<p ng-show="viewUserData.address[0].city">{{viewUserData.address[0].city}}, {{viewUserData.address[0].state}}, {{viewUserData.address[0].country}}</p>
					<p>{{viewUserData.address[0].zipCode}}</p>
					<h5>Email Verified:</h5>
					<p>{{viewUserData.emailVerified}}</p>
					<h5>Mobile Verified:</h5>
					<p>{{viewUserData.mobileVerified}}</p>
					<h5>Green Points:</h5>
					<p>{{viewUserData.greenPoints}}</p>
					<h5>Member Since:</h5>
					<p>{{viewUserData.createdAt | parseDate2}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- edit user modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit User: {{viewUserData.name}}</h4>
			</div>
			<div class="modal-body">
				<pn-loading-spinner ng-show="loadingOnEditUser"></pn-loading-spinner>
				<div class="content" ng-hide="loadingOnEditUser">
					<form>
						<input type="text" class="form-control" placeholder="Name" ng-model="userEditInfo.name">
						<input type="text" class="form-control" placeholder="Password" ng-model="userEditInfo.password">
						<input type="text" class="form-control" placeholder="Email" ng-model="userEditInfo.email">
						<input type="text" class="form-control" placeholder="Mobile Number" ng-model="userEditInfo.mobileNumber">
						
						<div class="buttons">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<button type="submit" class="btn btn-color btn-save btn-block" ng-click="editUserByAdmin()">Save</button>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<button type="button" class="btn btn-white fix-border btn-block" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- view product info modal -->
<div class="modal fade" id="viewProductInfoModal" tabindex="-1" role="dialog" aria-labelledby="viewProductInfoModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">View Product: {{productInfo.productName}}</h4>
			</div>
			<div class="modal-body">
				<pn-loading-spinner ng-show="loadingOnViewProductInfo"></pn-loading-spinner>
				<div class="content info-style-1" ng-hide="loadingOnViewProductInfo">
					<div class="row">
						<div class="col-md-12">
							<h3 class="no-margin-top">Info</h3>
						</div>
						<div class="col-md-6">
							<h5>Base Product Id</h5>
							<p>{{productInfo._id}}</p>
						</div>
						<div class="col-md-6">
							<h5>Product Name</h5>
							<p>{{productInfo.productName}}</p>
						</div>
						<div class="col-md-6">
							<h5>Brand Name</h5>
							<p>{{productInfo.brand_name || "N/A"}}</p>
						</div>
						<div class="col-md-6">
							<h5>Model Number</h5>
							<p>{{productInfo.model_number || "N/A"}}</p>
						</div>
						<div class="col-md-6">
							<h5>Released Date</h5>
							<p>{{productInfo.releaseDate | parseDate2}}</p>
						</div>
						<div class="col-md-6">
							<h5>Market Cost</h5>
							<p>{{productInfo.marketCost || "N/A"}}</p>
						</div>
						<div class="col-md-12">
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="no-margin-top">Specifications</h3>
						</div>
						<div class="col-md-12" ng-repeat="spec in productInfo.specifications">
							<p><strong>{{spec.displayName}}: </strong> {{spec.specificationValue}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="no-margin-top">Accessories Available</h3>
						</div>
						<div class="col-md-12" ng-repeat="spec in productInfo.specifications">
							<p><strong>{{spec.displayName}}: </strong> {{spec.specificationValue}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="no-margin-top">Problems list</h3>
						</div>
						<div class="col-md-12" ng-repeat="spec in productInfo.specifications">
							<p><strong>{{spec.displayName}}: </strong> {{spec.specificationValue}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="no-margin-top">Condition Remarks</h3>
						</div>
						<div class="col-md-12" ng-repeat="spec in productInfo.specifications">
							<p><strong>{{spec.displayName}}: </strong> {{spec.specificationValue}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- edit product modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Product: {{editBaseProduct.productName}}</h4>
			</div>
			<div class="modal-body">
				<pn-loading-spinner ng-show="loadingOnEditBaseProduct"></pn-loading-spinner>
				<div class="content" ng-hide="loadingOnEditBaseProduct">
					<form>
						<h3 class="no-margin-top">Info</h3>
						<label for="">Product Name</label>
						<input type="text" class="form-control" placeholder="Product Name" ng-model="editBaseProduct.productName">
						<label for="">Brand Name</label>
						<input type="text" class="form-control" placeholder="Brand Name" ng-model="editBaseProduct.brand_name">
						<label for="">Model Number</label>
						<input type="text" class="form-control" placeholder="Model Number" ng-model="editBaseProduct.model_number">
						<label for="">Market Cost (in Rupees)</label>
						<input type="text" class="form-control" placeholder="Market Cost" ng-model="editBaseProduct.marketCost">
						<label for="">Release Date</label>
						<p class="input-group class-datepicker">
							<input type="text" class="form-control" readonly="readonly" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-click="open1()"/>
							<span class="input-group-btn" style="vertical-align:top">
								<button type="button" style="border: 1px solid #bbb !important;" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
						<label for="">Warranty and Support</label>
						<input type="text" class="form-control" placeholder="Warranty and Support" ng-model="editBaseProduct.warranty_n_support">
						<hr>
						<h3 class="no-margin-top">Specifications</h3>
						<p ng-repeat="spec in addedSpecifications track by $index"><strong>{{spec.displayName}}: </strong> {{spec.specificationValue}} &nbsp; <a ng-click="removeSpec($index)" class="cursor-pointer"><i class="fa fa-times-circle"></i> Remove</a></p>
						<input type="text" class="form-control" placeholder="Specification Name" ng-model="newSpecification.displayName">
						<input type="text" class="form-control" placeholder="Specification Value" ng-model="newSpecification.specificationValue">
						<div class="text-center block">
							<button class="btn btn-color" ng-click="addNewSpecification()">Add Specification</button>
						</div>
						<hr>
						<h3 class="no-margin-top">Accessories Available</h3>
						<p ng-repeat="accessory in addedAccessories track by $index">{{accessory.accessoryname}} &nbsp; <a ng-click="removeAccessory($index)" class="cursor-pointer"><i class="fa fa-times-circle"></i> Remove</a></p>
						<input type="text" class="form-control" placeholder="Accessory Name" ng-model="newAccessory.accessoryname">
						<div class="text-center block">
							<button class="btn btn-color" ng-click="addNewAccessory()">Add Accessory</button>
						</div>
						<hr>
						<h3 class="no-margin-top">Problems List</h3>
						<p ng-repeat="problem in addedProblems track by $index"><strong>{{problem.problemname}}: </strong> {{problem.remarks}} &nbsp; <a ng-click="removeProblem($index)" class="cursor-pointer"><i class="fa fa-times-circle"></i> Remove</a></p>
						<input type="text" class="form-control" placeholder="Problem Name" ng-model="newProblem.problemname">
						<input type="text" class="form-control" placeholder="Problem Description" ng-model="newProblem.remarks">
						<div class="text-center block">
							<button class="btn btn-color" ng-click="addNewProblem()">Add Problem</button>
						</div>
						<hr>
						<h3 class="no-margin-top">Condition Remarks</h3>
						<label for="">Good Condition Remark</label>
						<input type="text" class="form-control" placeholder="" ng-model="editBaseProduct.goodRemark">
						<label for="">Average Condition Remark</label>
						<input type="text" class="form-control" placeholder="" ng-model="editBaseProduct.averageRemark">
						<label for="">Below Average Condition Remark</label>
						<input type="text" class="form-control" placeholder="" ng-model="editBaseProduct.belowAverageRemark">
						<hr>
						<div class="buttons">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<button type="button" class="btn btn-color btn-save btn-block" ng-click="editProductByAdmin()">Save</button>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<button type="button" class="btn btn-white fix-border btn-block" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>