<!-- Profile-04.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-sales" ng-hide="loadingData">
	<div class="sales-wrapper">
		<div class="container">
			<div class="row" infinite-scroll="loadMoreSalesData()" infinite-scroll-distance="3">
				<div class="col-md-12" ng-repeat="data in sales">
					<div class="card box-shadow text-color-2">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="img-wrapper">
									<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
								</div>
							</div>
							<div class="col-md-5 col-sm-5">
								<div class="info-wrapper">
									<h4 class="weight-bold">{{data.productInfo.productName? data.productInfo.productName : "N/A"}}</h4>
									<p class="price">Planet Namo Quote: <b>Rs. {{data.SellingOrderInfo.amount ? data.SellingOrderInfo.amount : "N/A"}}</b></p>
									<p ng-repeat="productSpec in data.productInfo.productSpecifications"><b>{{productSpec.displayName}} : {{productSpec.specificationValue}} </b></p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="status">
									<div class="stage-wrapper stage-{{data.deliveryInfo.pickupStage}}">
										<div class="inline-block circle">
											
										</div>
										<div class="inline-block line line-1">
											
										</div>
										<div class="inline-block circle">
											
										</div>
										<div class="inline-block line line-1">
											
										</div>
										<div class="inline-block circle">
											
										</div>
									</div>
									<div class="stage-text">
										<div class="inline-block">
											<p class="text-center">Schedule<br>Pickup</p>
										</div>
										<div class="inline-block text-center">
											<p>Physical<br>Check</p>
										</div>
										<div class="inline-block text-right">
											<p>Sold</p>
										</div>
									</div>
								</div>
								<div ng-show="data.deliveryInfo.pickupStage == 1" class="stage-1-wrapper">
									<div class="row">
										<div class="col-md-12 text-center">
											<p class="text-color-2"><b>{{getFormattedDate(data.deliveryInfo.schedulePickUpDate)}}</b></p>
										</div>
										<pn-loading-spinner ng-show="data.showLoader"></pn-loading-spinner>
										<div class="col-md-12 text-center" ng-show="!data.showLoader">
											<button ng-click="clickedOnChangeDate(data, $index)" class="btn btn btn-green">CHANGE DATE</button>
											<p class="input-group class-datepicker">
												<input type="text" class="form-control" readonly="readonly" uib-datepicker-popup="{{format}}" ng-model="data.sellingDateSelected" is-open="data.datePickerOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-change="dateChanged(data, $index)" style="width: 0px; height: 0px; padding: 0px; border: none;"/>
											</p>
										</div>
									</div>
								</div>
								<div ng-show="data.deliveryInfo.pickupStage == 2" class="stage-2-wrapper">
									<div class="row">
										<div class="col-md-12 text-center">
											<p class="text-color-2"><b>Rs. {{data.SellingOrderInfo.amountAfterPhysicalCheckTotal ? data.SellingOrderInfo.amountAfterPhysicalCheckTotal : "N/A"}}</b></p>
											<p ng-show="data.SellingOrderInfo.userApproved"><b>Approved For Selling</b></p>
											<p ng-show="data.SellingOrderInfo.cancelSellingOrder"><b>Cancelled</b></p>
											<p ng-show="data.SellingOrderInfo.sellingOrderApproved"><b>Approved To Sell</b></p>
										</div>
										<div class="col-md-12">
											<pn-loading-spinner ng-show="data.showLoader"></pn-loading-spinner>
											<div ng-show="!data.showLoader" class="row">
												<div class="col-md-6" ng-show="!data.SellingOrderInfo.userApproved && !data.SellingOrderInfo.cancelSellingOrder">
													<button ng-click="clickedOnWillingToSell(data, $index)" class="btn btn-block btn-green">SELL</button>
												</div>
												<div class="col-md-6" ng-show="!data.SellingOrderInfo.userApproved && !data.SellingOrderInfo.cancelSellingOrder">
													<button ng-click="clickedOnNotInteresetedToSell(data, $index)" class="btn btn-block btn-white">NOT INTERESTED</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div ng-show="data.deliveryInfo.pickupStage == 3" class="stage-3-wrapper">
									<div class="row">
										<div class="col-md-12 text-center">
											<p class="text-color-2"><b>Sold at Rs. {{data.SellingOrderInfo.amountAfterPhysicalCheckTotal ? data.SellingOrderInfo.amountAfterPhysicalCheckTotal : "N/A"}}</b></p>
											<p ng-show="data.SellingOrderInfo.planetNamoPoints">Earned {{data.SellingOrderInfo.planetNamoPoints}} planet points</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- extend contract slidable hidden area -->
						<div class="row">
							<div class="col-md-9 col-md-offset-3">
								<div id="slide{{$index}}" class="extend-contract-wrapper slideable" duration=".4s">
									<hr class="custom">
									<h4 class="weight-bold text-color-2">NO. OF MONTHS</h4>

									<div class="row text-color-2">
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['3']" ng-click="changeExtendPeriod('3')">
												<p>3 Months</p>
												<hr>
												<p><b>Rs. 4000</b></p>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['6']" ng-click="changeExtendPeriod('6')">
												<p>6 Months</p>
												<hr>
												<p><b>Rs. 6500</b></p>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['9']" ng-click="changeExtendPeriod('9')">
												<p>9 Months</p>
												<hr>
												<p><b>Rs. 9000</b></p>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['custom']" ng-click="changeExtendPeriod('custom')">
												<p>CUSTOM</p>
												<hr>
												<select name="customExtendedValue" id="input" class="form-control">
													<option value="">Select</option>
													<option value="1">1 Months</option>
													<option value="2">2 Months</option>
													<option value="4">4 Months</option>
													<option value="5">5 Months</option>
													<option value="7">7 Months</option>
													<option value="8">8 Months</option>
													<option value="10">10 Months</option>
													<option value="11">11 Months</option>
													<option value="12">12 Months</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
											<button type="button" class="btn btn-block btn-lg btn-color font2" ng-click="extendContract()">EXTEND</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pn-loading-spinner padding-bottom="200px" ng-show="loadingMoreData"></pn-loading-spinner>
		</div>
	</div>
</div>