<div id="forgot-password-page">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="logo-wrapper">
						<img class="img-responsive" src="assets/imgs/planet-namo-logo.png" alt="">
					</div>
					<div class="card">
						<form>
							<div class="form-group">
								<label for="exampleInput1" class="text-color-2">Email</label>
								<input type="text" ng-model="loginCredentials.email" class="form-control" id="exampleInput1" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="exampleInput2" class="text-color-2">Password</label>
								<input type="password" ng-model="loginCredentials.password" class="form-control" id="exampleInput2" placeholder="Password">
							</div>
							<button ng-hide="loginSpinnerEnabled" ng-click="login()" type="submit" class="btn btn-color btn-block btn-lg">Login</button>
							<pn-loading-spinner ng-show="loginSpinnerEnabled" padding-top="10px" padding-bottom="10px"></pn-loading-spinner>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>