<!-- Profile Art board 13.psd -->
<div id="me-auction-hall-live">
	<div class="row" infinite-scroll="loadMoreLiveAuctions()" infinite-scroll-distance="3">
		<div class="col-md-12" ng-repeat="data in auctionController.liveAuctions" ng-if="!data.auctionCancelled && data.auctionTimeLeftInMS && data.userBids && data.userBids.length > 0 && data.userBids[0].userStartedBidding">
			<div class="card box-shadow text-color-2">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="img-wrapper">
							<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-7 col-sm-6">
						<div class="info-wrapper">
							<h4 class="weight-bold">{{data.lotName}} ({{ (data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productName) ? data.userBids[0].orderDetails[0].productName : ''}})</h4>
							<p class="price">Starting Bid Price: <b>Rs.{{(data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productStartingBidPrice) ? data.userBids[0].orderDetails[0].productStartingBidPrice : '0'}}</b></p>
						</div>
						<div class="timer-and-bid-wrapper">
							<div class="row">
								<div class="col-md-6">
									<div class="wrapper" >
										<h4 class="text-success">TIME LEFT</h4>
										<div ng-show="data.auctionTimeLeftInMS && !data.daysLeft" class="content no-padding">
											<div id="countdown-time-{{$index}}" class="countdown-timer"></div>
										</div>
										<div ng-show="data.auctionTimeLeftInMS && data.daysLeft" class="content no-padding">
											<p style="text-align: center;" ><b>{{data.daysLeft}} Days</b></p>
										</div>
										<div ng-show="!data.auctionTimeLeftInMS && !data.daysLeft" class="content no-padding">
											<p style="text-align: center;" ><b>Auction Ended</b></p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="wrapper">
										<h4>CURRENT BID</h4>
										<div class="content">
											<span ng-show="data.userBids[0].currentHighestBid && data.userBids[0].currentHighestBid.bidAmount" class="pull-left">Rs. {{data.userBids[0].currentHighestBid.bidAmount}}</span>
											<span ng-show="!data.userBids[0].currentHighestBid || !data.userBids[0].currentHighestBid.bidAmount" class="pull-left">Rs. {{data.orderInfo[0].productStartingBidPrice}}</span>
											<i class="fa fa-caret-up pull-right"></i>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="wrapper">
										<h4>YOUR BID</h4>
										<div class="content">
											<span ng-show="data.userBids[0].currentUserBidAmount"  class="pull-left">Rs. {{data.userBids[0].currentUserBidAmount}}</span>
											<span ng-show="!data.userBids[0].currentUserBidAmount"  class="pull-left">Rs. {{(data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productStartingBidPrice) ? data.orderInfo[0].productStartingBidPrice : 0}}</span>
											<i ng-class="(data.userBids[0].currentHighestBid && data.userBids[0].currentHighestBid.userId && data.userBids[0].currentHighestBid.userId == indexController.user.id) ? 'fa fa-caret-up pull-right' : 'fa fa-caret-down pull-right'"></i>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="buttons">
							<button ng-show="data.auctionTimeLeftInMS || data.daysLeft" type="button" slide-toggle="#slide{{$index}}" class="btn btn-block btn-lg btn-color font2">INCREASE BID</button>
							<button type="button" ui-sref="details.detailsAuction({id: data.lotId})" class="btn btn-block btn-lg btn-white font2">VIEW DETAILS</button>
						</div>
					</div>
				</div>
				<!-- extend bid slidable hidden area -->
				<div class="row">
					<div class="col-md-9 col-md-offset-3">
						<div id="slide{{$index}}" class="extend-bid-wrapper slideable" duration=".2s">
							<div class="row">
								<div class="col-md-8 col-sm-8" style="margin-top: 5px;">
									<div class="row">
										<div class="col-md-4">
											<h5 class="weight-bold">ENTER YOUR BID</h5>
										</div>
										<div class="col-md-8">
											<div class="row no-margin-row">
												<div class="col-md-2 col-sm-2 col-xs-2 no-padding-grid">
													<button ng-click="plusClicked(data, $index)" type="button" class="btn btn-block btn-lg btn-white font2">+</button>
												</div>
												<div class="col-md-8 col-sm-8 col-xs-8 no-padding-grid">
													<input ng-model="data.placeBidAmount" type="text" class="input-lg form-control">
												</div>
												<div class="col-md-2 col-sm-2 col-xs-2 no-padding-grid">
													<button ng-click="minusClicked(data, $index)" type="button" class="btn btn-block btn-lg btn-white font2">-</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-8" style="margin-top: 5px;">
									<button type="button" ng-hide="data.loadingBidPlace"   ng-click="submitBid(data, $index)" class="btn btn-block btn-lg btn-color font2">SUBMIT BID</button>
									<pn-loading-spinner style="width: 100%;" class="noPaddingSpinnerLoader" ng-show="data.loadingBidPlace"></pn-loading-spinner>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<pn-loading-spinner class="col-md-12" padding-bottom="200px" ng-show="loadingMoreDataLiveAuctions"></pn-loading-spinner>
	</div>
</div>