<!-- Profile-10.psd -->
<!-- Profile-11.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-rentals" ng-hide="loadingData">
	<div class="rentals-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12" ng-repeat="rental in rentals track by $index">
					<div class="card box-shadow text-color-2">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="img-wrapper">
									<img ng-src="{{rental.orderDetails[0].imagesArray[0]}}" alt="" class="img-responsive">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="info-wrapper">
									<h4 class="weight-bold cursor-pointer" ui-sref="rent.details({id: rental.lotId})">{{rental.lotName}}</h4>
									<p class="price">Price per month: <b>Rs. {{rental.orderDetails[0].productPerMonthPrice}}</b></p>
									<p><b>No. of Months: </b>{{rental.orderDetails[0].monthsToRent}}</p>
									<p><b>Start Date: </b>{{rental.startDate | parseDate2}}</p>
									<p><b>End Date: </b>{{rental.endDate | parseDate2}}</p>
									<p><b>Security Deposit: </b>Rs. {{rental.totalSecurityDepositPaid}}</p>
									<p class="total"><b>Total: Rs. {{rental.totalAmountPaid}}</b></p>
								</div>
								<div class="transaction-info">
									<p class="inline-block cursor-pointer" ui-sref="me.wallet"><b>Transaction Id: </b>{{rental.walletTransactionId}}</p>
									<p class="inline-block hide"><a class="cursor-pointer">View Details</a></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<pn-loading-spinner ng-show="rental.endContractLoading"></pn-loading-spinner>
								<div class="buttons" ng-hide="rental.hasRentalOrderBeenReturned || rental.endContractLoading">
									<button type="button" slide-toggle="#slide{{$index}}" class="btn btn-block btn-lg btn-color font2" ng-hide="hasRentalOrderBeenExtended">EXTEND CONTRACT</button>
									<button type="button" class="btn btn-block btn-lg btn-white font2" ng-click="endContract(rental)">END CONTRACT</button>
								</div>
							</div>
						</div>
						<!-- extend contract slidable hidden area -->
						<div class="row">
							<div class="col-md-9 col-md-offset-3">
								<div id="slide{{$index}}" class="extend-contract-wrapper slideable" duration=".4s">
									<pn-loading-spinner ng-show="rental.paymentLoading"></pn-loading-spinner>
									<div ng-hide="rental.paymentLoading">
										<hr class="custom">
										<h4 class="weight-bold text-color-2">NO. OF MONTHS</h4>

										<div class="row text-color-2">
											<div class="col-md-3 col-sm-3 col-xs-6">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod[rental.rentalOrderId]['3']" ng-click="selectNumberOfMonths(rental,'3')">
													<p>3 Months</p>
													<hr>
													<p><b>Rs. {{rental.orderDetails[0].rentalPriceByNumberOfMonths[0].price}}</b></p>
												</div>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod[rental.rentalOrderId]['6']" ng-click="selectNumberOfMonths(rental,'6')">
													<p>6 Months</p>
													<hr>
													<p><b>Rs. {{rental.orderDetails[0].rentalPriceByNumberOfMonths[1].price}}</b></p>
												</div>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod[rental.rentalOrderId]['9']" ng-click="selectNumberOfMonths(rental,'9')">
													<p>9 Months</p>
													<hr>
													<p><b>Rs. {{rental.orderDetails[0].rentalPriceByNumberOfMonths[2].price}}</b></p>
												</div>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod[rental.rentalOrderId]['custom']">
													<p>CUSTOM</p>
													<hr>
													<select ng-model="customExtendedValue" ng-change="selectNumberOfMonths(rental, customExtendedValue)" id="input" class="form-control">
														<option value="">Select</option>
														<option value="1">1 Months</option>
														<option value="2">2 Months</option>
														<option value="4">4 Months</option>
														<option value="5">5 Months</option>
														<option value="7">7 Months</option>
														<option value="8">8 Months</option>
														<option value="10">10 Months</option>
														<option value="11">11 Months</option>
														<option value="12">12 Months</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-8 col-md-offset-4">
												<div class="rental-info">
													<div class="row">
														<div class="col-md-6 col-sm-6"><b>SECURITY DEPOSIT</b></div>
														<div class="col-md-6 col-sm-6 text-right"><span class="text-color-2">Rs. {{rental.securityDeposit}}/-</span></div>
													</div>
													<div class="row">
														<div class="col-md-6 col-sm-6"><b>RENT</b></div>
														<div class="col-md-6 col-sm-6 text-right"><span class="text-color-2">Rs. {{rental.calculatedRental}}/-</span></div>
													</div>
													<div class="row">
														<div class="col-md-6 col-sm-6"><b>TOTAL</b></div>
														<div class="col-md-6 col-sm-6 text-right"><b class="price text-color-2">Rs. {{rental.calculatedTotal}}/-</b></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
												<button type="button" class="btn btn-block btn-lg btn-color font2" ng-click="extendContract(rental)">EXTEND</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>