.header-wrapper.web{
	padding-bottom: 24px;
	border-bottom: 1px solid #ddd;
}

.header-wrapper.mobile .navbar{
	margin-bottom: 0;
}

.header-wrapper .center-nav .header-logo{
	max-width: 100%;
	max-height: 80px;
}

.header-wrapper .left-nav .nav-outer,
.header-wrapper .right-nav .nav-outer{
	display: table;
	width: 100%;
	height: 80px;
	min-height: 80px;
}

.header-wrapper .left-nav .nav-outer span,
.header-wrapper .right-nav .nav-outer span{
	display: table-cell;
	vertical-align: bottom;
	font-size: 18px;
	padding-bottom: 2px;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	-webkit-transition: border-bottom .5s;
	-o-transition: border-bottom .5s;
	transition: border-bottom .5s;
}

.header-wrapper .left-nav .nav-outer span:hover,
.header-wrapper .right-nav .nav-outer span:hover{
	color: #7ebf41;
	border-bottom: 3px solid #7ebf41;
}


/* For bootstrap mobile navbar */
.navbar-default{
	background-color: #fff;
}

.navbar-brand {
    padding: 8px 15px;
}

.navbar-brand img{
	max-height: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #87c54f;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

/* Media query for small and extra small screen only*/
@media (max-width: 991px){
	.header-wrapper .left-nav .nav-outer span,
	.header-wrapper .right-nav .nav-outer span{
		font-size: 14px;
	}
}