.modal-dialog.pn-modal .modal-content{
	border-radius: 0;
	background-color: #e2ebbe;
}

.modal-dialog.pn-modal.bg-white .modal-content{
	background-color: #fff;
}

.modal-dialog.pn-modal .modal-header{
	padding: 0;
	border: none;
}

.modal-dialog.pn-modal .modal-body{
	padding: 0 30px 40px;
}

.modal-dialog.pn-modal .modal-body > .row > .col-md-6:first-child {
	border-right: 1px solid #aaa;
}

.modal-dialog.pn-modal .modal-header button.close{
	padding: 12px;
	font-size: 30px;	
}

.modal-dialog.pn-modal .modal-body .login,
.modal-dialog.pn-modal .modal-body .signup{
	padding: 20px;
}

.modal-dialog.pn-modal .modal-body h4{
	max-width: 90%;
	padding: 10px;
	margin: 0 0 20px 0;
	color: #fff;
	background-color: white;
}

.modal-dialog.pn-modal .modal-body .login input{
	margin-bottom: 10px;
}

.modal-dialog.pn-modal .modal-body .btn-color{
	margin-top: 10px;
	padding: 6px 50px;
}

.modal-dialog.pn-modal .modal-body .signup form{
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal-dialog.pn-modal .modal-body .signup .radio{
	margin-right: 10px;
}

.modal-dialog.pn-modal .modal-body .login .social-login-btns{
	padding-top: 6px;
	padding-bottom: 30px;
}

.modal-dialog.pn-modal .modal-body .login .social-login-btns .social-btn .icon{
	padding: 8px 10px;
	display: inline-block;
	border-right: 1px solid #fff;
	color: #fff;
}

.modal-dialog.pn-modal .modal-body .login .social-login-btns .social-btn .text{
	padding: 8px;
	display: inline-block;
	color: #fff;
}

.modal-dialog.pn-modal .modal-body .login .social-login-btns .social-btn.facebook-btn {
	background-color: #344ea2;
}

.modal-dialog.pn-modal .modal-body .login .social-login-btns .social-btn.google-btn {
	background-color: #ce3c27;
	margin-left: 2px;
}

.modal-dialog.pn-modal .modal-body .login .social-login-btns .social-btn:hover{
	opacity: .9;
}

/* For extra small and small screens only */
@media (max-width: 991px){
	.modal-dialog.pn-modal .modal-body > .row > .col-md-6:first-child {
		border-right: none;
		border-bottom: 1px solid #aaa;
	}
	.modal-dialog.pn-modal .modal-body .login,
	.modal-dialog.pn-modal .modal-body .signup{
		padding: 40px 0;
	}
}

/* For extra small screens only */
@media (max-width: 767px){
	.modal-dialog.pn-modal .modal-body h4{
		max-width: 100%;
	}
	.modal-dialog.pn-modal .modal-body .login .social-login-btns .social-btn.google-btn{
		margin-left: 0;
		margin-top:10px;
	}
}