<!-- Rent 02.psd -->
<pn-loading-spinner padding-top="100px" padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="rent-details" ng-hide="loadingData">
	<div class="rent-details-wrapper">
		<div class="top-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12"><span class="breadcrumbs">Home > Rent > Details</span></div>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="name-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h1 class="name">{{lot.lotDetails.lotName}}</h1>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="options-wrapper">
								<div class="pull-right">
									<div class="add-to-compare">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
												Add to Compare
											</label>
										</div>
									</div>
									<div class="favourite-icon">
										<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
										<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="details-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="images-wrapper">
								<div class="images-big">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
										</div>
									</div>
								</div>
								<div class="images-thumb">
									<div class="img" ng-repeat="img in lot.lotItemDetails[0].imageURLS">
										<div class="background" style="background-image:url('{{img}}')">
										</div>
									</div>
								</div>
							</div><!-- images wrapper -->
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="info-cards">
								<div class="detail-card">
									<div class="top-bar pn-gradient">
										<h3 class="font2 weight-bold va-middle">Rs. {{lot.rent}} <span class="font1" style="font-weight:normal;font-size:18px">per month</span></h3>
										<div class="off-tag va-middle" ng-hide="true"><span>60% OFF</span></div>
									</div>
									<div class="content">
										<div class="row no-margin-row">
											<div class="col-md-8 col-sm-8 col-xs-8 no-padding-grid">
												<h4 class="text text-color-2 weight-bold">SPECIFICATIONS:</h4>
											</div>
											<div ng-hide="true" class="col-md-4 col-sm-4 col-xs-4 no-padding-grid">
												<button type="button" class="btn-block btn-green">Customise</button>
											</div>
										</div>
										<!-- <div ng-show="false" class="row">
											<div class="col-md-4">
												<div class="card-wrapper">
													<div class="icon inline-block"></div>
													<div class="info inline-block">
														<b>Hard Disk</b>
														<span>500GB</span>
													</div>
												</div>
												<button class="btn btn-green btn-block">Customise</button>
											</div>
											<div class="col-md-4">
												<div class="card-wrapper">
													<div class="icon inline-block"></div>
													<div class="info inline-block">
														<b>RAM</b>
														<span>2 GB</span>
													</div>
												</div>
												<button class="btn btn-green btn-block">Customise</button>
											</div>
											<div class="col-md-4">
												<div class="card-wrapper">
													<div class="icon inline-block"></div>
													<div class="info inline-block">
														<b>PROCESSOR</b>
														<span>i5</span>
													</div>
												</div>
											</div>
										</div> -->
										<div class="row">
											<div class="col-md-12">
												<p ng-repeat="spec in lot.lotItemDetails[0].specifications"><b>{{spec.displayName}}: </b>{{spec.specificationValue}}</p>
											</div>
										</div>
									</div>
								</div> <!-- detail card -->
								<div class="checkout-card">
									<div class="content">
										<div class="row">
											<div class="col-md-12">
												<h4 class="text text-color-2 weight-bold">NO. OF MONTHS:</h4>
											</div>
										</div>
										<div class="row text-color-2">
											<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" ng-show="maxMonthsAvailable >= 3">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['3']" ng-click="selectNumberOfMonths('3')">
													<p>3 Months</p>
													<hr>
													<p><b>Rs. {{lot.lotItemDetails[0].rentalPriceByNumberOfMonths[0].price}}</b></p>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" ng-show="maxMonthsAvailable >= 6">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['6']" ng-click="selectNumberOfMonths('6')">
													<p>6 Months</p>
													<hr>
													<p><b>Rs. {{lot.lotItemDetails[0].rentalPriceByNumberOfMonths[1].price}}</b></p>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" ng-show="maxMonthsAvailable >= 9">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['9']" ng-click="selectNumberOfMonths('9')">
													<p>9 Months</p>
													<hr>
													<p><b>Rs. {{lot.lotItemDetails[0].rentalPriceByNumberOfMonths[2].price}}</b></p>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
												<div class="box-wrapper text-center cursor-pointer" ng-class="selectedExtendPeriod['custom']">
													<p>CUSTOM</p>
													<hr>
													<select ng-model="customExtendedValue" ng-change="selectNumberOfMonths(customExtendedValue)" id="input" class="form-control">
														<option value="">Select</option>
														<option value="1">1 Months</option>
														<option value="2">2 Months</option>
														<option value="4">4 Months</option>
														<option value="5">5 Months</option>
														<option value="7">7 Months</option>
														<option value="8">8 Months</option>
														<option value="10">10 Months</option>
														<option value="11">11 Months</option>
														<option value="12">12 Months</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<p class="select-text">Select Date:</p>
											</div>
											<div class="col-md-8">
												<p class="input-group class-datepicker">
													<input type="text" class="form-control" readonly="readonly" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" ng-click="open1()"/>
													<span class="input-group-btn">
														<button type="button" style="border: 1px solid #bbb;" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</p>
											</div>
										</div>
										<div class="row" ng-hide="true">
											<div class="col-md-6 col-sm-6"><b>DELIVERY ZIP:</b></div>
											<div class="col-md-6 col-sm-6"><input type="text" class="form-control"></div>
										</div>
										<hr class="custom">
										<div ng-hide="numberOfMonthsSelected">
											<p class="text-center">Please select Number of Months to see the rental</p>
										</div>
										<div ng-show="numberOfMonthsSelected">
											<div class="row">
												<div class="col-md-6 col-sm-6"><b>SECURITY DEPOSIT</b></div>
												<div class="col-md-6 col-sm-6 text-right"><span class="text-color-2">Rs. {{lot.lotItemDetails[0].rentalSecurityDeposit * lot.lotItemDetails[0].quantityAvailable}}/-</span></div>
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-6"><b>RENT</b></div>
												<div class="col-md-6 col-sm-6 text-right"><span class="text-color-2">Rs. {{calculatedRental}}/-</span></div>
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-6"><b>TOTAL</b></div>
												<div class="col-md-6 col-sm-6"><b class="price text-color-2">Rs. {{(lot.lotItemDetails[0].rentalSecurityDeposit * lot.lotItemDetails[0].quantityAvailable) + calculatedRental}}/-</b></div>
											</div>
										</div>
									</div>
									<button ng-click="checkOut()" class="btn btn-color btn-lg btn-block weight-bold font2">Check Out</button>
									<button ng-show="availableBuyProduct" ui-sref="details.detailsDirectBuy({id: availableBuyProduct.lotId})" class="btn btn-color btn-rent btn-block weight-bold font1">Or Buy Now for Rs. {{availableBuyProduct.price}}</button>
								</div><!-- checkout card -->
							</div> <!-- info cards -->
						</div>
					</div>
				</div>
			</div> <!-- detail wrapper -->

			<div class="detailed-info">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nav-wrapper">
								<div class="tabs-wrapper">
									<ul class="list-inline flex-inline">
										<li ng-repeat="data in navTabs" on-finish-render="ngRepeatFinished">
											<div class="text-center">
												<p ng-class="activeTabs[data.name]" ng-click="goToTab(data.name)">
													<span class="va-middle font2 weight-bold">{{data.name}}</span>
												</p>
											</div>
										</li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div> <!-- nav wrapper -->
							<div class="content-area">
								<div ng-show="activeTabs['SPECIFICATIONS'] == 'active'">
									<p ng-hide="lot.lotItemDetails[0].specifications.length">Not enough data available.</p>
									<p ng-show="lot.lotItemDetails[0].specifications.length" ng-repeat="spec in lot.lotItemDetails[0].specifications">
										<strong>{{spec.displayName}}: </strong>
										<span>{{spec.specificationValue}}</span>
									</p>
								</div>
								<div ng-show="activeTabs['FEATURES'] == 'active'">
									<p>Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['WARRANTY'] == 'active'">
									<p ng-show="lot.lotItemDetails[0].warranty_n_support">{{lot.lotItemDetails[0].warranty_n_support}}</p>
									<p ng-hide="lot.lotItemDetails[0].warranty_n_support">Not enough data available.</p>
								</div>
								<div ng-show="activeTabs['T&Cs'] == 'active'">
									<p ng-show="lot.lotDetails.lotTermsAndConditions">{{lot.lotDetails.lotTermsAndConditions}}</p>
									<p ng-hide="lot.lotDetails.lotTermsAndConditions">Not enough data available.</p>
								</div>
							</div> <!-- content area -->
						</div>
					</div>
				</div>
			</div> <!-- Detailed info -->
		</div>
		<div class="related-products-wrapper" ng-show="relatedProducts.length">
			<div class="container">
				<pn-loading-spinner ng-show="relatedProductsLoading"></pn-loading-spinner>
				<div class="row" ng-hide="relatedProductsLoading">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10 col-sm-10 col-xs-12">
								<h3 class="font2 text-color-1 weight-bold">RELATED PRODUCTS</h3>
							</div>
							<div class="col-md-2 col-sm-2 hidden-xs">
								<div class="slide-icons text-right">
									<i ng-click="slickPrev('related-products-carousel')" class="fa fa-angle-left fa-3x"></i>
									<i ng-click="slickNext('related-products-carousel')" class="fa fa-angle-right fa-3x"></i>
								</div>
							</div>
						</div>
						<hr class="custom">
						<div class="carousel-wrapper related-products-carousel">
							<div ng-repeat="lot in relatedProducts">
								<div class="outer">
									<div class="card-wrapper">
										<div class="top-bar">
											<div class="add-to-compare pull-left">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-click="addToCompare(lot.lotDetails.lotId, lot.lotDetails.lotType)" ng-checked="isInCompareList(lot.lotDetails.lotId, lot.lotDetails.lotType)">
														Add to Compare
													</label>
												</div>
											</div>
											<div class="favourite-icon pull-right">
												<i ng-hide="lot.lotDetails.isInWishlist" class="fa fa-heart-o" ng-click="addLotToWishlist(lot)"></i>
												<i ng-show="lot.lotDetails.isInWishlist" class="fa fa-heart"  ng-click="removeLotFromWishlist(lot)"></i>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="card">
											<div class="image-wrapper pn-gradient">
												<div class="product-image" style="background-image:url('{{lot.lotDetails.lotImageURL}}')"></div>
												<div class="offer-text hide">
													<span>60% OFF</span>
												</div>
											</div> <!-- image wrapper -->
											<div class="info-wrapper">
												<div class="name">
													<h3>{{lot.lotDetails.lotName}}</h3>
												</div>
												<div class="specs hide">
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<b>Model:</b> #914770
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<b>TSIN:</b> #T2B710PLK
														</div>
													</div>
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<b>Part No.:</b> BR-13
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<b>Series:</b> Bravo
														</div>
													</div>
												</div>
												<div class="available-qty hide">
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span>Available Qty:</span>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span class="font2 text-color-3 weight-bold">1000 pcs</span>
														</div>
													</div>
												</div>
												<div class="sold-qty hide">
													<div class="row no-margin-row">
														<div class="col-md-6 no-padding-grid">
															<span>Sold Qty:</span>
														</div>
														<div class="col-md-6 no-padding-grid">
															<div class="progress-wrapper">
																<div class="progress">
																	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="2500" style="width: {{(500/2400)*100}}%;">
																		500
																	</div>
																</div>
																<div class="range-values">
																	<span class="min pull-left">0</span>
																	<span class="max pull-right">2500</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="price">
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span class="line-through text-color-1">Rs. XXXXX</span>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<span class="font2 text-color-3 weight-bold">Rs. {{lot.lotItemDetails[0].perItemPrice * lot.lotItemDetails[0].quantityAvailable}}</span>
														</div>
													</div>
												</div>
												<div class="stars">
													<div class="row no-margin-row">
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<b>Rating</b>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 no-padding-grid">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>

												</div>
											</div> <!-- info wrapper -->
										</div>
										<div class="buy-btn">
											<button ui-sref="details.detailsDirectBuy({id: lot.lotDetails.lotId})" class="btn btn-lg btn-block btn-color font2 weight-bold">Buy Now</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>