<!-- profile -->
<div id="profile-page" class="page-wrapper">
	<div class="container">
		<div class="page-heading">
			<div class="row">
				<div class="col-md-12">
					<h3 class="font2 text-color-1 no-margin-top no-margin-bottom">MY PROFILE</h3>
				</div>
			</div>
		</div>
	</div>
	<pn-loading-spinner ng-show="loadingProfile"></pn-loading-spinner>
	<div ng-hide="loadingProfile" class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<div class="user-info">
						<h3>{{user.name}}</h3>

						<p>{{user.email}}</p>
						<p>{{userInfo.mobile}}</p>

						<p>{{userInfo.primaryAddress.line1}}</p>
						<p>{{userInfo.primaryAddress.line2}}</p>
						<p>{{userInfo.primaryAddress.locality}}</p>
						<p ng-show="userInfo && userInfo.primaryAddress.city">{{userInfo.primaryAddress.city}}, {{userInfo.primaryAddress.state}}, {{userInfo.primaryAddress.country}}</p>
						<p>{{userInfo.primaryAddress.zipCode}}</p>
					</div>

					<button type="button" ng-click="showEditInfo()" class="btn btn-green">Edit Info</button>
					<button type="button" ng-click="showChangePassword()" class="btn btn-green">Change Password</button>

					<div class="row">
						<div class="col-md-6 col-sm-8">
							<div class="change-password box-shadow" ng-show="showPasswordForm">
								<div class="top-bar pn-gradient-reverse">
									<h4 class="text-color-white font-2 weight-bold no-margin-top no-margin-bottom">Change Password</h4>
								</div>
								<pn-loading-spinner ng-show="loadingChangePassword"></pn-loading-spinner>
								<div ng-hide="loadingChangePassword" class="form-wrapper">
									<form>
										<input type="password" class="form-control" placeholder="Current Password" ng-model="userChangePassword.current">
										<input type="password" class="form-control" placeholder="New Password" ng-model="userChangePassword.new">
										<input type="password" class="form-control" placeholder="Confirm Password" ng-model="userChangePassword.confirm">
										<div class="buttons">
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-6">
													<button type="submit" class="btn btn-color btn-save btn-block" ng-click="changePassword()">Save</button>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6">
													<button type="button" class="btn btn-white fix-border btn-block" ng-click="clearPasswordForm()">Cancel</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="edit-info box-shadow" ng-show="showInfoForm">
								<div class="top-bar pn-gradient-reverse">
									<h4 class="text-color-white font-2 weight-bold no-margin-top no-margin-bottom">Edit info</h4>
								</div>
								<div class="form-wrapper">
									<form>
										<input type="text" class="form-control" placeholder="Name" ng-model="userEditInfo.name">
										<input type="text" class="form-control" placeholder="Mobile Number" ng-model="userEditInfo.mobile">
										<input type="text" class="form-control" placeholder="Address Line 1" ng-model="userEditInfo.address.line1">
										<input type="text" class="form-control" placeholder="Address Line 2" ng-model="userEditInfo.address.line2">
										<input type="text" class="form-control" placeholder="Locality" ng-model="userEditInfo.address.locality">
										<input type="text" class="form-control" placeholder="City" ng-model="userEditInfo.address.city">
										<input type="text" class="form-control" placeholder="State" ng-model="userEditInfo.address.state">
										<input type="text" class="form-control" placeholder="Country" ng-model="userEditInfo.address.country">
										<input type="text" class="form-control" placeholder="Zip Code" ng-model="userEditInfo.address.zipCode">
										<div class="buttons">
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-6">
													<button type="button" class="btn btn-color btn-save btn-block" ng-click="saveUserInfo()">Save</button>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6">
													<button type="button" class="btn btn-white fix-border btn-block" ng-click="clearEditInfoForm()">Cancel</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>