@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

html, body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.font1{
	font-family: 'Open Sans', sans-serif;	
}

.font2{
	font-family: 'Roboto', sans-serif;	
}

.text-color-1{
	color:#7ec142;
}

.text-color-2{
	color:#595757;
}

.text-color-3{
	color:#3fb548;
}

.text-color-white{
	color: #fff;
}

.weight-bold{
	font-weight: bold;
}

.line-through{
	text-decoration: line-through;
}

hr.custom{
	border-width: 2px;
	border-color: #ddd;
	margin-top: 10px;
}

ul.dropdown-menu{
	box-shadow: none;
	border-radius: 0;
}

.va-middle{
	vertical-align: middle;
}

.inline-block{
	display: inline-block;
}

.uppercase{
	text-transform: uppercase;
}

.cursor-pointer{
	cursor: pointer;
}

button,
button.btn,
button:active,
button:hover,
button:focus{
	border:none !important;
	box-shadow:none !important;
	outline: none !important;
	border-radius: 0 !important;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
.form-control{
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;	
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea:focus,
.form-control:focus {
	border-color: #53b742;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(70, 182, 70, 0.6); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(70, 182, 70, 0.6); 
}

.btn-color{
	/* background is the default background in case of any fallback*/
	background: #3ab54a;
	color: #ffffff !important;
	background-image: -webkit-linear-gradient(left, #ffc506, #3ab54a);
	background-image: -moz-linear-gradient(left, #ffc506, #3ab54a);
	background-image: -ms-linear-gradient(left, #ffc506, #3ab54a);
	background-image: -o-linear-gradient(left, #ffc506, #3ab54a);
	background-image: linear-gradient(to right, #ffc506, #3ab54a);
	text-decoration: none;
}

.btn-color:hover {
	/* background is the default background in case of any fallback*/
	background: #349e40;
	color: #fff !important;
	background-image: -webkit-linear-gradient(left, #e6b000, #349e40);
	background-image: -moz-linear-gradient(left, #e6b000, #349e40);
	background-image: -ms-linear-gradient(left, #e6b000, #349e40);
	background-image: -o-linear-gradient(left, #e6b000, #349e40);
	background-image: linear-gradient(to right, #e6b000, #349e40);
	text-decoration: none;
}

button.btn-white{
	background: #ffffff;
	color: #595757 !important;
	border: 1px solid #a0a0a0 !important;
	-webkit-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
}

button.btn-white:hover{
	background: #eee;
}

button.btn-green{
	background-color: #3bb549;
	color: #fff;
	/* -webkit-transition: background-color .2s; */
	/* -o-transition: background-color .2s; */
	/* transition: background-color .2s; */
}

button.btn-green:hover,
button.btn-green:focus{
	background-color: #3aa246;
	color: #fff;
}

button.btn-white.fix-border{
	padding-top: 5px;
	padding-bottom: 5px;
}

button.btn-white.btn-lg.fix-border{
	padding-top: 9px;
	padding-bottom: 9px;
}

.pn-gradient{
	/* background is the default background in case of any fallback*/
	background: #3ab54a;
	background-image: -webkit-linear-gradient(left, #ffc506, #3ab54a);
	background-image: -moz-linear-gradient(left, #ffc506, #3ab54a);
	background-image: -ms-linear-gradient(left, #ffc506, #3ab54a);
	background-image: -o-linear-gradient(left, #ffc506, #3ab54a);
	background-image: linear-gradient(to right, #ffc506, #3ab54a);
}
.pn-gradient-reverse{
	/* background is the default background in case of any fallback*/
	background: #3ab54a;
	background-image: -webkit-linear-gradient(right, #ffc506, #3ab54a);
	background-image: -moz-linear-gradient(right, #ffc506, #3ab54a);
	background-image: -ms-linear-gradient(right, #ffc506, #3ab54a);
	background-image: -o-linear-gradient(right, #ffc506, #3ab54a);
	background-image: linear-gradient(to left, #ffc506, #3ab54a);
}

.no-padding{
	padding: 0 !important;
}

.no-margin-row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-padding-grid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-margin-top{
	margin-top: 0;
}

.no-margin-bottom{
	margin-bottom: 0;
}

.rotate180deg{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.not-visible{
	visibility: hidden;
}

.display-none{
	display: none;
}

/* loader animation */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes pulse {
	50% {
		background: white;
	}
}
@keyframes pulse {
	50% {
		background: white;
	}
}

.loading-spinner {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 0.5rem solid rgba(0, 0, 0, 0.1);
	border-top-color: #40b648;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	margin: 0 auto;
}

.table-borderless td, .table-borderless th {
	border: none !important;
}

/* angular slider custom css */
.range-slider-style1.rzslider .rz-pointer{
	height: 26px;
	width: 26px;
	background-color: #fff;
	box-shadow: 0px 2px 4px #999;
}

.range-slider-style1.rzslider .rz-pointer:focus{
	outline: none;
}

.range-slider-style1.rzslider .rz-pointer::after{
	background-color: #fff;
}

.range-slider-style1 .rz-bar-wrapper .rz-bar.rz-selection{
	background-color: #413343;
}

.range-slider-style1.rzslider .rz-bubble {
	bottom: -35px;
}

.price-ribbon {
	margin: 100px auto 0px;
	position: relative;
	color: #fff;
	font: 28px/60px sans-serif;
	text-align: center;
	text-transform: uppercase;
	background: #3D79D0;
	padding-left: 30px;
	padding-right: 30px;
}

.price-ribbon i{
	position: absolute;
	left: auto;
	right: -20px;
	bottom: -20px;
	z-index: -1;
	border: 20px solid transparent;
	border-right-color: #043140;
	border-right-color: transparent;
	border-left-color: #043140;
}

/*#a{
	height:500px;
	width:500px;
	background-color:red;
	position:relative;
}

.wrapper{
	position: absolute;
	right: -20px;
	bottom: 40px;
	z-index: 5;
	}*/

/*.custom-icon{
	background: url('../assets/images/icons.png');
}*/


.myGrid{
	width: 500px;
	height: 500px;
}

@media screen and (min-width: 600px) {
    .myGrid{
		width: 600px;
		height: 500px;
	}
}

@media screen and (min-width: 750px) {
    .myGrid{
		width: 750px;
		height: 500px;
	}
}

@media screen and (min-width: 1000px) {
    .myGrid{
		width: 1000px;
		height: 500px;
	}
}

@media screen and (min-width: 1200px) {
    .myGrid{
		width: 1200px;
		height: 500px;
	}
}




.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  margin: 30px 0px 10px 0px;
  height: calc(100% - 40px);
  width: 100%;
  overflow-y: auto;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
