<!-- Profile Art Board 13 Copy 2.psd -->
<div id="me-auction-hall-won">
	<div class="row" infinite-scroll="loadMoreWonAuctions()" infinite-scroll-distance="3">
		<div class="col-md-12" ng-repeat="data in auctionController.wonAuctions">
			<div class="card box-shadow text-color-2">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="img-wrapper">
							<img src="assets/imgs/image-placeholder-square.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-7 col-sm-6">
						<div class="info-wrapper">
							<h4 class="weight-bold">{{data.lotName}} ({{ (data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productName) ? data.userBids[0].orderDetails[0].productName : ''}})</h4>
							<p class="price">Starting Bid Price: <b>Rs. {{(data.userBids[0].orderDetails && data.userBids[0].orderDetails[0] && data.userBids[0].orderDetails[0].productStartingBidPrice) ? data.userBids[0].orderDetails[0].productStartingBidPrice : '0'}}</b></p>
							<p>Final Bid: <b>Rs. {{(data.userBids[0].currentHighestBid && data.userBids[0].currentHighestBid.bidAmount) ? data.userBids[0].currentHighestBid && data.userBids[0].currentHighestBid.bidAmount : 0}}</b></p>
							<p>Emd Paid: <b>Rs. {{(data.userBids[0].emdAmount && data.userBids[0].emdPaid) ? data.userBids[0].emdAmount : 0}}</b></p>
							<p>Balance Due: <b>Rs. {{(data.userBids[0].remainingAmountToPay) ? data.userBids[0].remainingAmountToPay : 'N/A'}}</b></p>

							<div class="transaction-info">
								<p ng-show="data.userBids[0].currentHighestBid.bidSuccessTransactionId"><b>Transaction Id: </b>#{{data.userBids[0].currentHighestBid.bidSuccessTransactionId}}</p>
								<div class="row">
									<div class="col-md-6">
										<button ng-show="!data.buyingOrBackOutLoading && !data.cancelBuyingOrder && (!isNaN(data.userBids[0].remainingAmountToPay)) && !data.userBids[0].currentHighestBid.bidWon" class="btn btn-lg btn-block btn-color font2 weight-bold" ng-click="clickedOnPayBalance(data, $index)">Pay Balance</button>
									</div>
									<div class="col-md-6">
										<button ng-show="!data.buyingOrBackOutLoading && !data.cancelBuyingOrder && (!isNaN(data.userBids[0].remainingAmountToPay)) && !data.userBids[0].currentHighestBid.bidWon" class="btn btn-lg btn-block btn-white font2 weight-bold" ng-click="backOutClicked(data, $index)">Back Out</button>
									</div>
									<pn-loading-spinner class="col-md-12" ng-show="data.buyingOrBackOutLoading"></pn-loading-spinner>
								</div>
								<p ng-show="data.userBids[0].currentHighestBid.bidWon" class="text-success"><b>Owned</b></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="buttons">
							<button type="button" class="btn btn-block btn-lg btn-color font2" ui-sref="details.detailsAuction({id: data.lotId})">VIEW DETAILS</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<pn-loading-spinner class="col-md-12" padding-bottom="200px" ng-show="loadingMoreDataWonAuctions"></pn-loading-spinner>
	</div>
</div>