<!-- Profile-01.psd -->
<pn-loading-spinner padding-bottom="200px" ng-show="loadingData"></pn-loading-spinner>
<div id="me-profile" ng-hide="loadingData">
	<div class="user-info-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<div class="user-picture">
								<img ng-src="{{baseImageUrl}}/{{user.id}}" alt="" class="img-responsive img-thumbnail">
							</div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="user-info">
								<h3>{{user.name}}</h3>

								<p>{{user.email}}</p>
								<p>{{userInfo.mobile}}</p>

								<p>{{userInfo.primaryAddress.line1}}</p>
								<p>{{userInfo.primaryAddress.line2}}</p>
								<p>{{userInfo.primaryAddress.locality}}</p>
								<p ng-show="userInfo && userInfo.primaryAddress.city">{{userInfo.primaryAddress.city}}, {{userInfo.primaryAddress.state}}, {{userInfo.primaryAddress.country}}</p>
								<p>{{userInfo.primaryAddress.zipCode}}</p>
							</div>
							<div class="action-buttons">
								<button class="btn btn-green" ng-click="showEditInfo = !showEditInfo">Edit Info</button>
								<button class="btn btn-green" ng-show="user.loginType == 'email'" ng-click="showChangePassword = !showChangePassword">Change Password</button>
								<button class="btn btn-green" ng-click="showChangePicture = !showChangePicture">Change Picture</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="edit-cards-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="edit-info-wrapper" ng-show="showEditInfo">
						<div class="topbar">
							<p class="inline-block">Edit Info</p>
						</div>
						<div class="content">
							<pn-loading-spinner ng-show="loadingOnUserEdit"></pn-loading-spinner>
							<form ng-hide="loadingOnUserEdit">
								<div class="row">
									<div class="col-md-4"><p>Name:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Name" ng-model="userEditInfo.name"></div>
									<div class="col-md-4"><p>Mobile No.:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Mobile Number" ng-model="userEditInfo.mobile"></div>
									<div class="col-md-4"><p>Address Line 1:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Address Line 1" ng-model="userEditInfo.address.line1"></div>
									<div class="col-md-4"><p>Address Line 2:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Address Line 2" ng-model="userEditInfo.address.line2"></div>
									<div class="col-md-4"><p>Locality:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Locality" ng-model="userEditInfo.address.locality"></div>
									<div class="col-md-4"><p>City:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="City" ng-model="userEditInfo.address.city"></div>
									<div class="col-md-4"><p>State:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="State" ng-model="userEditInfo.address.state"></div>
									<div class="col-md-4"><p>Country:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Country" ng-model="userEditInfo.address.country"></div>
									<div class="col-md-4"><p>Zip Code:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Zip Code" ng-model="userEditInfo.address.zipCode">
										<div class="buttons">
											<button type="button" ng-click="saveUserInfo()" class="btn btn-color btn-save">Save</button>
											<button type="button" ng-click="showEditInfo = false" class="btn btn-white fix-border">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="change-password-wrapper" ng-show="showChangePassword && user.loginType == 'email'">
						<div class="topbar">
							<p class="inline-block">Change Password</p>
						</div>
						<div class="content">
							<form>
								<input type="password" class="form-control" placeholder="Current Password" ng-model="userChangePassword.current">
								<input type="password" class="form-control" placeholder="New Password" ng-model="userChangePassword.new">
								<input type="password" class="form-control" placeholder="Confirm Password" ng-model="userChangePassword.confirm">
								<div class="buttons">
									<button type="button" class="btn btn-color btn-save" ng-click="changePassword()">Save</button>
									<button type="button" class="btn btn-white fix-border" ng-click="clearPasswordForm()">Cancel</button>
								</div>
							</form>
						</div>
					</div>
					<div class="change-password-wrapper" ng-show="showChangePicture">
						<div class="topbar">
							<p class="inline-block">Change Picture</p>
						</div>
						<div class="content">
							<div class="row" ng-hide="loadingOnProfilePicture">
								<div class="col-md-9">
									<div class="form-group">
										<input type="file" class="form-control" id="user-profile-picture" placeholder="Profile Picture">
									</div>	
								</div>
								<div class="col-md-3">
									<button type="button" ng-click="changeProfilePicture()" class="btn btn-color btn-block">CHANGE</button>
								</div>
							</div>
							<pn-loading-spinner ng-show="loadingOnProfilePicture"></pn-loading-spinner>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="billing-info-card-wrapper" ng-hide="true">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="billing-info-wrapper">
						<div class="topbar">
							<p class="inline-block pull-left">Billing Information</p>
							<a class="inline-block pull-right cursor-pointer" ng-click="showEditBillingInfo = !showEditBillingInfo">Edit</a>
							<div class="clearfix"></div>
						</div>
						<div class="content">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<p><b>Name: </b>Lorem</p>
									<p><b>Last Name: </b>Ipsum</p>
									<p><b>Email ID: </b>user@domain.com</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<p><b>Phone No.: </b>9876543210</p>
									<p><b>Email ID: </b>Address Goes here</p>
									<p><b>Card Details: </b>XXXXXXXXXXXX</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="billing-edit-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="edit-wrapper" ng-show="showEditBillingInfo">
						<div class="topbar">
							<p class="inline-block">Edit Billing Info</p>
						</div>
						<div class="content">
							<form>
								<div class="row">
									<div class="col-md-4"><p>Name:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Name"></div>
									<div class="col-md-4"><p>Last Name:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Last Name"></div>
									<div class="col-md-4"><p>Email ID:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Email ID"></div>
									<div class="col-md-4"><p>Mobile Number:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Mobile Number"></div>
									<div class="col-md-4"><p>Address:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Address"></div>
									<div class="col-md-4"><p>Card Details:</p></div>
									<div class="col-md-8"><input type="text" class="form-control" placeholder="Card Detail">
										<div class="buttons">
											<button type="button" class="btn btn-color btn-save">Save</button>
											<button type="button" class="btn btn-white fix-border">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- modal for green points -->
	<div class="modal fade" id="green-points-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="seed-img text-center">
								<img src="assets/imgs/icons/green-points.png" class="img-responsive" alt="">
								<h3 class="text-color-1 weight-bold">You have 50 green points!</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<button type="button" class="btn btn-block btn-lg btn-green">DONATE POINTS TO GROW TREES</button>
							<p class="text-center text-color-2">20 points for a tree</p>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="button" class="btn btn-block btn-lg btn-green">REEDEEM GREEN POINTS</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>