.page-wrapper{
	padding-top: 40px;
	padding-bottom: 60px;
}

.page-wrapper .page-heading{
	padding-bottom: 40px;
}

.page-wrapper .page-heading h3{
	font-weight: bold;
}

.page-wrapper .page-heading .button-wrapper{
	text-align: right;
}

.page-wrapper .page-heading .button-wrapper button.visible-xs{
	margin-left: auto;
}

.page-wrapper .content{
	min-height: 200px;
}

.page-wrapper .content .upload-btn-area{
	padding-top: 10px;
	padding-bottom: 20px;
}

.page-wrapper .box-shadow{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
}

.page-wrapper .search-box.form-inline{
	padding-bottom: 20px;
	text-align: right;
}

.page-wrapper .upload-lot-list{
	padding-top: 40px;
}

@media (max-width: 767px){
	.page-wrapper .search-box.form-inline{
		padding-top: 20px;
		text-align: left;
		border-top: 1px solid #eee;
	}
	.page-wrapper .search-box.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}


/* ------------ category wrapper ------------- */
.page-wrapper .categories-wrapper h3{
	padding-bottom: 30px;
}

.page-wrapper .categories-wrapper .category-card{
	padding: 14px;
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
	margin-bottom: 20px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.page-wrapper .categories-wrapper .category-card:hover{
	-webkit-box-shadow: 3px 3px 7px #aaa;
	box-shadow: 3px 3px 7px #aaa;
	cursor: pointer;
}

.page-wrapper .categories-wrapper .category-card:hover p{
	color: #666;
}

/* icons css for sprite image */

.page-wrapper .categories-wrapper .category-card .icon{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background-image: url('../../imgs/icons/icons-sell.png');
	background-size: 600px;
}

.page-wrapper .categories-wrapper .category-card .icon.mobile{
	background-position: 0 0;
}

.page-wrapper .categories-wrapper .category-card .icon.desktop{
	background-position: -150px 0;
}

.page-wrapper .categories-wrapper .category-card .icon.tv{
	background-position: -300px 0;
}

.page-wrapper .categories-wrapper .category-card .icon.tablet{
	background-position: -450px 0;
}

.page-wrapper .categories-wrapper .category-card .icon.i-mac{
	background-position: 0 -150px;
}

.page-wrapper .categories-wrapper .category-card .icon.laptop{
	background-position: -150px -150px;
}

.page-wrapper .categories-wrapper .category-card .icon.gaming-console{
	background-position: -300px -150px;
}

.page-wrapper .categories-wrapper .category-card .icon.home-appliances{
	background-position: -450px -150px;
}

/* icons css for sprite image */

.page-wrapper .categories-wrapper .category-card p{
	padding-top: 10px;
	text-align: center;
	font-size: 16px;
	color: #888;
}

/* for extra small screen only*/
@media (max-width: 767px){
	.page-wrapper .categories-wrapper .category-card {
		padding: 8px 6px;
	}

	/* icons css for sprite image */

	.page-wrapper .categories-wrapper .category-card .icon{
		width: 100px;
		height: 100px;
		background-size: 400px;
	}

	.page-wrapper .categories-wrapper .category-card .icon.mobile{
		background-position: 0 0;
	}

	.page-wrapper .categories-wrapper .category-card .icon.desktop{
		background-position: -100px 0;
	}

	.page-wrapper .categories-wrapper .category-card .icon.tv{
		background-position: -200px 0;
	}

	.page-wrapper .categories-wrapper .category-card .icon.tablet{
		background-position: -300px 0;
	}

	.page-wrapper .categories-wrapper .category-card .icon.i-mac{
		background-position: 0 -100px;
	}

	.page-wrapper .categories-wrapper .category-card .icon.laptop{
		background-position: -100px -100px;
	}

	.page-wrapper .categories-wrapper .category-card .icon.gaming-console{
		background-position: -200px -100px;
	}

	.page-wrapper .categories-wrapper .category-card .icon.home-appliances{
		background-position: -300px -100px;
	}

	/* icons css for sprite image */

	.page-wrapper .categories-wrapper .category-card p{
		font-size: 12px;
		color: #888;
	}
}

/* -------- base product list ----------- */
.page-wrapper .base-products-list{
	padding-bottom: 40px;
}

.page-wrapper .base-products-list .search-device-wrapper input + ul{
	width: 100%;
}

/* -------- selected category ----------- */
.page-wrapper .base-products-list .selected-category h3{
	padding-right: 10px;
}

/* -------- upload file area ----------- */
.page-wrapper .upload-file-area{
	padding-top: 20px;
	padding-bottom: 20px;
}