#manage-page{

}

#manage-page .tabs-area-wrapper{
	border-top: 1px solid #ddd;
	padding: 14px;
}

#manage-page .tabs-area-wrapper .top-bar{
	padding: 8px 14px;
}

#manage-page .tabs-area-wrapper .list-wrapper{
	/* padding-top: 40px; */
	/* padding-bottom: 40px; */
}

#manage-page .tabs-area-wrapper .list-wrapper .search-box{
	padding-bottom: 20px;
	text-align: right;
}

#manage-page .form-card{
	margin-bottom: 40px;
}

#manage-page .form-card .top-bar{
	padding: 6px 14px;
}

#manage-page .form-card .form-wrapper{
	padding: 18px 14px;
}

#manage-page .form-card .form-wrapper .form-control{
	margin-bottom: 14px;
}

#manage-page .form-card{
	transition: all .5s ease-in-out;
}

/* for angular animate animation */
#manage-page .form-card.ng-hide{
	opacity: 0;
	transition: all .3s ease-in-out;
}

.products-wrapper .selected-category{
	padding-top: 15px;
	padding-bottom: 15px;
}
.products-wrapper .selected-category h3{
	padding-right: 10px;
}
.products-wrapper .categories-wrapper{
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
}

#manage-page button.tab-btn{
    border-right: 2px solid #eee !important;
}

.modal .modal-body .content.info-style-1 h5 {
    color: #555;
    padding-top: 6px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding-bottom: 2px;
}

.modal .modal-body .content.info-style-1 h5:first-child{
	padding-top: 0px;
	margin-top: 0;
}

.modal .modal-body .content.info-style-1 p{
	margin-bottom: 4px;
}

#editUserModal .modal-body .content form .form-control,
#editProductModal .modal-body .content form .form-control{
	margin-bottom: 14px;
}

#editProductModal .modal-body .content div.block{
/* 	padding-top: 20px;
	padding-bottom: 20px; */
}

@media (max-width: 767px){
	#manage-page .tabs-area-wrapper .list-wrapper .search-box.form-inline{
		margin-top: 15px;
		padding-top: 20px;
		text-align: left;
		border-top: 1px solid #eee;
	}
	.search-box.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}
