#profile-page .change-password,
#profile-page .edit-info{
	margin-top: 40px;
}

#profile-page .change-password .top-bar,
#profile-page .edit-info .top-bar{
	padding: 8px 14px;
}

#profile-page .change-password .form-wrapper,
#profile-page .edit-info .form-wrapper{
	padding: 18px 14px;
}

#profile-page .change-password .form-wrapper .form-control,
#profile-page .edit-info .form-wrapper .form-control{
	margin-bottom: 14px;
}