<!-- Auctions -->
<div id="auctions-page" class="page-wrapper">
	<div class="container">
		<div class="page-heading">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-9">
					<h3 class="font2 text-color-1 no-margin-top no-margin-bottom">{{pageHeading}}</h3>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-3">
					<div class="button-wrapper">
						<button ng-click="showUploadArea()" ng-hide="showUpload" type="button" class="btn btn-green"><i class="fa fa-upload"></i> <span class="hidden-xs">Upload Auctions</span></button>

						<button ng-click="showAuctions()" ng-show="showUpload" type="button" class="btn btn-green"><i class="fa fa-bars"></i> <span class="hidden-xs"> List Auctions</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<pn-loading-spinner ng-show="loadingLots"></pn-loading-spinner>
				<div class="content" ng-hide="showUpload || loadingLots">
					<div class="row">
						<div class="col-md-12">
							<div class="search-box form-inline" ng-hide="lots.length == 0">
								<input type="text" class="form-control" ng-model="searchLots">
								<button type="button" class="btn btn-green">Search</button>
							</div>
						</div>
					</div>
					<p ng-show="lots.length == 0" class="text-center">No lots available in this category. Please upload to start.</p>
					<table ng-hide="lots.length == 0" class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Lot Name</th>
								<th>Created At</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="lot in lots | filter:searchLots">
								<td>{{$index+1}}</td>
								<td>{{lot.lotDetails.lotName}}</td>
								<td>{{lot.lotDetails.createdAt | parseDate2}}</td>
								<td>{{lot.lotDetails.dateWindow.startDate | parseDate2}}</td>
								<td>{{lot.lotDetails.dateWindow.endDate | parseDate2}}</td>
								<td class="text-right">
									<button type="button" class="btn btn-primary">View</button>
									<button type="button" class="btn btn-primary">Edit</button>
									<button type="button" class="btn btn-danger">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="content" ng-show="showUpload">
					<pn-loading-spinner ng-show="loadingProducts"></pn-loading-spinner>	
					<div class="categories-wrapper" ng-hide="categorySelected || loadingProducts">
						<div class="row">
							<div class="col-md-12 text-center">
							<h3 class="font2 text-color-1 weight-bold">WHAT DO YOU WANT TO UPLOAD</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('MOBILE')">
									<div class="icon mobile"></div>
									<p>MOBILE PHONES</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('DESKTOP')">
									<div class="icon desktop"></div>
									<p>DESKTOP</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('TV')">
									<div class="icon tv"></div>
									<p>TV</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('TABLET')">
									<div class="icon tablet"></div>
									<p>TABLET</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('I MAC')">
									<div class="icon i-mac"></div>
									<p>I MAC</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('LAPTOP')">
									<div class="icon laptop"></div>
									<p>LAPTOPS</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('GAMING CONSOLE')">
									<div class="icon gaming-console"></div>
									<p>GAMING CONSOLE</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="category-card" ng-click="selectCategory('HOME APPLIANCE')">
									<div class="icon home-appliances"></div>
									<p>HOME APPLIANCES</p>
								</div>
							</div>
						</div>
					</div>
					<div class="base-products-list" ng-show="categorySelected">
						<div class="row">
							<div class="col-md-12">
								<div class="selected-category">
									<h3 class="font2 text-color-1 weight-bold inline-block va-middle no-margin-top no-margin-bottom">CATEGORY: {{selectedCategory}}</h3>
									<button ng-click="goToSelectCategory()" class="btn btn-green va-middle">Change</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-sm-12">
								<hr>
								<h4 class="font2 text-color-1 weight-bold">Select the product to upload</h4>
								<div class="search-device-wrapper">
									<div class="row no-margin-row">
										<div class="col-md-10 col-sm-10 no-padding-grid">
											<input type="text" placeholder="Select your product" ng-model="selectedProduct" uib-typeahead="product as product.productName for product in products | filter:$viewValue | limitTo:8" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="upload-file-area" ng-show="categorySelected">
						<div class="form-group">
							<label for="exampleInputFile">Choose Excel File</label>
							<input type="file" id="exampleInputFile">
						</div>
						<div class="upload-btn-area">
							<button type="button" ng-click="uploadFile()" class="btn btn-color">Upload File</button>
							<span> Or </span><a href="">Download Sample file</a>
						</div>
					</div>
					<div class="upload-lot-list">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Brand</th>
									<th>Model</th>
									<th class="text-center">Status</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in [1,2,3,4,5,6,7,8]">
									<td>{{data}}</td>
									<td>Someone Here</td>
									<td>Brand</td>
									<td>Model</td>
									<td class="text-center">
										<i class="fa fa-ellipsis-h"></i>
										<!-- <i ng-if="data == 1 || data == 2" class="fa fa-check"></i>
										<i ng-if="data == 3" class="fa fa-times"></i>
										<i ng-if="data != 1 && data != 2 && data != 3" class="fa fa-upload"></i> -->
									</td>
									<td class="text-right">
										<button type="button" class="btn btn-primary">View</button>
										<button type="button" class="btn btn-primary">Edit</button>
										<button type="button" class="btn btn-danger">Delete</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>