#forgot-password-page .content{
	padding-top: 60px;
}

#forgot-password-page .logo-wrapper{
	padding-bottom: 30px;
}

#forgot-password-page .logo-wrapper img{
	max-width: 160px;
	margin: 0 auto;
}

#forgot-password-page .card{
	-webkit-box-shadow: 1px 1px 6px #aaa;
	box-shadow: 1px 1px 6px #aaa;
	padding: 16px;
}