<!-- Signup -->
<div id="signup-page">
	<div class="signup-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="signup-header">
						<h3 class="font2 text-color-1">NEW USER REGISTRATION</h3>
						<hr class="custom">
					</div>
					<div class="input-area">
						<form>
							<div class="top-radio">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="form-inline">
											<span class="custom-label"><b>Register As*:</b></span>
											<div class="radio">
												<label>
													<input ng-model="userInfo.buySellPermission" type="radio" name="registerAs" value="1">
													Buyer
												</label>
											</div>
											<div class="radio">
												<label>
													<input ng-model="userInfo.buySellPermission" type="radio" name="registerAs" value="2">
													Seller
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="form-inline">
											<span class="custom-label"><b>Type*:</b></span>
											<div class="radio">
												<label>
													<input ng-model="userInfo.accountType" type="radio" name="customerType" value="1">
													Individual
												</label>
											</div>
											<div class="radio">
												<label>
													<input ng-model="userInfo.accountType" type="radio" name="customerType" value="2">
													Business
												</label>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- / top radio -->
							<!-- <div class="social-login-btns">
								<div class="row">
									<div class="col-md-12">
										<div class="social-btn facebook-btn inline-block cursor-pointer">
											<span class="icon">
												<i class="fa fa-facebook"></i>
											</span>
											<span class="text">
												sign up with facebook
											</span>
										</div>
										<div class="social-btn google-btn inline-block cursor-pointer">
											<span class="icon">
												<i class="fa fa-google"></i>
											</span>
											<span class="text">
												sign up with google
											</span>
										</div>
									</div>
								</div>
							</div> --> <!-- / social login buttons -->
							<div class="input-form">
								<div class="row">
									<div class="col-md-12">
										<span class="inline-block" style="padding-bottom:26px"><b></b></span>
									</div>
									<!-- <div class="col-md-6 col-sm-6">
										<input type="text" class="form-control" placeholder="Name">
									</div> -->
									<div class="col-md-12 col-sm-12">
										<input ng-model="userInfo.name" type="text" class="form-control" placeholder="Name">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.password" type="password" class="form-control" placeholder="Password">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.email" type="email" class="form-control" placeholder="Email">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.mobileNumber" type="text" class="form-control" placeholder="Phone Number">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.panCard" type="text" class="form-control" placeholder="VAT No.">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.serviceTaxNo" type="text" class="form-control" placeholder="PAN No.">
									</div>
									<div class="col-md-6 col-sm-6">
										<input ng-model="userInfo.vatNo" type="text" class="form-control" placeholder="Service Tax No.">
									</div>
									<!-- <div class="col-md-6 col-sm-6">
										<div class="file-input-wrapper">
											<div class="row">
												<div class="col-md-5">
													<span class="inline-block text-right">Upload File<br>(VAT/Registration Doc. Etc)</span>
												</div>
												<div class="col-md-7">
													<input type="file" class="inline-block" name="includedDoc">
												</div>	
											</div>
										</div>
									</div> -->
									<div class="col-md-12">
										<div class="checkbox">
											<label>
												<input ng-model="userInfo.agreedTermsAndConditions" type="checkbox"> I have read and agree to the Terms & Conditions
											</label>
										</div>
									</div>
									<div class="col-md-12" ng-hide="signingUp">
										<div class="form-btns">
											<button ng-click="clickedOnSignUp()" class="btn btn-color btn-join font2"><b>JOIN NOW</b></button>
											<button type="reset" class="btn btn-white btn-reset font2"><b>RESET FORM</b></button>
										</div> <!-- form btns -->
									</div>
									<pn-loading-spinner class="col-md-12" padding-bottom="200px" ng-show="signingUp"></pn-loading-spinner>
								</div>
							</div> <!-- / input form -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>