<!-- profile page main -->
<!-- Profile-01.psd -->

<!-- common topbar section -->
<div id="me-page">
	<div class="user-info-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-3">
					<div class="profile-picture-wrapper">
						<div>
							<img ng-src="{{baseImageUrl}}/{{user.id}}" alt="{{user.name}} Profile Picture">
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-7">
					<div class="info-wrapper">
						<h3 class="text-color-2">{{user.name}}</h3>
						<p class="text-color-2">{{userType[user.type]}}</p>
					</div>
					<div class="auctions-stats" ng-show="stats">
						<div class="inline-block">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4"><h3>{{stats.auctionsParticipated}}</h3></div>
								<div class="col-md-8 col-sm-8 col-xs-8"><p>Auctions<br>Participated</p></div>
							</div>
						</div>
						<div class="inline-block">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4"><h3>{{stats.auctionsWon}}</h3></div>
								<div class="col-md-8 col-sm-8 col-xs-8"><p>Auctions<br>Won</p></div>
							</div>
						</div>
						<div class="inline-block">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4"><h3>{{stats.auctionsLost}}</h3></div>
								<div class="col-md-8 col-sm-8 col-xs-8"><p>Auctions<br>Lost</p></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="green-points-wrapper text-center" ng-show="stats">
						<div class="icon"></div>
						<h4>{{stats.greenPoints}}</h4>
						<p>Green Points</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-tabs-wrapper">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid no-padding-grid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">More</span>
							<i class="fa fa-caret-down"></i>
						</button>
						<a class="navbar-brand uppercase visible-xs">{{activeView}}</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse no-padding-grid">
						<ul class="nav navbar-nav">
							<li ng-class="activeClass['auctionHall']" ng-show="user.type == 1"><a ui-sref="me.auctionHall.live">AUCTION HALL</a></li>
							<li ng-class="activeClass['aggregate']" ng-show="user.type == 1"><a ui-sref="me.aggregate">AGGREGATE</a></li>
							<li ng-class="activeClass['profile']"><a ui-sref="me.profile">MY PROFILE</a></li>
							<li ng-class="activeClass['wishlist']"><a ui-sref="me.wishlist">MY WISHLIST</a></li>
							<li ng-class="activeClass['wallet']"><a ui-sref="me.wallet">MY WALLET</a></li>
							<li ng-class="activeClass['orders']"><a ui-sref="me.orders">ORDER HISTORY</a></li>
							<li ng-class="activeClass['sales']"><a ui-sref="me.sales">MY SALES</a></li>
							<li ng-class="activeClass['rentals']"><a ui-sref="me.rentals">MY RENTALS</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</div>
	</div>

	<!-- place of sub viewes -->
	<div ui-view></div>
</div>