<!-- Navigation -->
<div ng-include="'app/modules/dashboard/core/header/header.html'"></div>

<!-- Including views -->
<ui-view></ui-view>

<!-- Footer -->
<div ng-include="'app/modules/dashboard/core/footer/footer.html'"></div>
<!-- Modal windows -->
<div ng-include="'app/modules/dashboard/core/modals/modals.html'"></div>